@import "../../../../../themes/dependencies/variables";

.flex-content-wrapper {
  @include typo-primary;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 90%;
}

.turn-progression-ui {
  background: $background-action-head;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  border-radius: 10px;
  color: #fff;
  flex-grow: 0;
  justify-content: space-between;
  margin: 8px;
  margin-top: 0;

  &.adjudication-phase {
    background: $grey;
  }

  .ended {
    font-weight: bold;
    color: rgb(248, 159, 159);
  }

  .warning {
    animation: blink 1s infinite;
    color: #f00;
    font-weight: bold;
  }

  @keyframes blink {
    49% {
      color: $light-blue;
    }
    50% {
      color: $primary-triad-color;
    }
    99% {
      color: $primary-triad-color;
    }
    100% {
      color: $light-blue;
    }
  }
}

.turn-info-phase {
  @include typo-primary;
  width: 100%;

  &.adjudication-phase {
    background: $grey;
  }

  time {
    display: inline-block;
    font-family: "Open Sans", "sans-serif";
    font-size: 12px;
    font-weight: 600;
    padding-top: 8px;
  }
}

.turn-phase-group {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.turn-phase-item {
  display: flex;
  justify-content: space-between;
  padding: 2px 0 2px 5px;
  align-items: baseline;
  border-bottom: 1px solid #fff;
  height: 35px;
  h5 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;

    &:nth-child(2) {
      font-weight: 600;
      font-size: 27px;
    }
  }

  h6 {
    font-weight: 600;
    font-size: 22px;
    margin: 0;
  }
}

.divider {
  background-color: #fff !important;
  height: auto !important;
  width: 1px !important;
  margin: 10px 0 !important;
}

.time {
  width: 100%;
  text-align: center;
}

.not-initiated {
  color: #f00;
  background-color: #eee;
  padding: 0 3px;
  text-align: center;
  font-size: 12px;
}

.time-left {
  font-size: 22px;
  font-weight: 600;
  line-height: 1;
}

.turn-info-remaining {
  text-align: center;

  .info-helper {
    color: rgba(255, 255, 255, 0.4);
    display: block;
    font-size: 10px;
    font-weight: 600;
  }

  .info-phase-label {
    display: block;
    font-size: 14px;
  }
}
