@import "../../../themes/dependencies/variables";

.rfi-form {
  background-color: $background-action-head;
  padding: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.filter-icon {
  position: absolute;
  margin-top: 8px;
  color: "#3ef1ea";
}

.input-filter {
  color: #fff !important;
  width: 250px;
  padding-left: 22px;
}

.checkbox {
  margin-left: 0 !important;
  margin-bottom: 0.2rem !important;

  span {
    color: #6d8faf;
    font-size: 12px;
  }
}

.btn {
  span {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #6d8faf;
  }
  button {
    color: #3ef1ea;
    &:hover {
      color: #fff;
    }
  }
}
