.dialogue {
  background-color: rgba(255, 255, 255, 0.65);
  width: 335px;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.default {
  font-weight: bold;
}

.content {
  padding: 1rem;
}
