.dialogue {
  background-color: rgba(255, 255, 255, 0.65);
  height: 100%;
  box-sizing: border-box;
}

.default {
  font-weight: bold;
}

.content {
  padding: 1rem;
}

.perceived-as {
  background-color: lightpink;
}
.planning {
  background-color: lightgreen
}
.adjudication {
  background-color: lightgoldenrodyellow;
}