@import "../../../../themes/dependencies/variables";
.input-container {
  padding-bottom: 0.5rem;
  .input-label {
    @include typo-primary;
    display: block;
    font-weight: 700;
  }
}

.disable-offset {
  padding: 0;
}

.fullwidth {
  width: 100%;
}

.private-input {
  &__label {
    display: flex;
    align-items: center;

    svg {
      display: inline-block;
      margin-right: 6px;
    }
  }
}
