.map-bar {
  position: absolute;
  left: -350px;
  top: 0;
  width: 350px;
  height: 100%;
  transition: left 0.5s ease-in-out;
}

.inner {
  z-index: 1020;
  position: relative;
  overflow-y: auto;
  max-height: calc(100% - 350px);
  border-top: 1px solid #0a2c41;
  border-left: 1px solid #0a2c41;
  border-right: 2px solid #0a2c41;
  border-bottom: 2px solid #0a2c41;
  box-sizing: border-box;
  // this block was used to size the world-state panel, but it also caught
  // the first section within the perception panel, so it has been
  // commented out:
  // section:first-of-type {
  //   height: 400px;
  // }
}

.form-inner {
  width: 100%;
  z-index: 1020;
  position: absolute;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  max-height: 1345px;
  overflow-y: auto;
  border-top: 2px solid #3DD0FF;
  border-left: 1px solid #3DD0FF;
  border-right: 2px solid #3DD0FF;
  border-bottom: 1px solid #3DD0FF;
}

.open {
  left: 0;
  .toggle {
    svg {
      transform: rotate(180deg);
    }
  }
}

.toggle {
  z-index: 1010;
  cursor: pointer;
  background-color: #48a65d;
  color: #fff;
  width: 21px;
  height: 71px;
  position: absolute;
  top: 72px;
  right: -20px;
  border-radius: 0 5px 5px 0;

  svg {
    display: none;
    margin-top: 20px;
    height: 34px;
    width: 30px;
    margin-left: -5px;
    transition: transform 0.5s ease-in-out;
  }
}

.toggle:first-child {
  top: 0;
  background-color: #54667c;
}

.toggle-active {
  z-index: 1030;
  margin-left: -1px;
  svg {
    display: block;
  }
}
