.map-bar {
  position: absolute;
  left: -350px;
  top: 0;
  z-index: 1010;
  width: 350px;
  height: 100%;
  transition: left 0.5s ease-in-out;
}

.inner {
  overflow-y: scroll;
  height: 100%;
  section:first-of-type {
    height: 400px;
  }
}

.open {
  left: 0;
  .toggle {
    svg {
      transform: rotate(180deg);
    }
  }
}

.toggle {
  cursor: pointer;
  background-color: #54667c;
  color: #fff;
  width: 20px;
  height: 71px;
  position: absolute;
  top: 0;
  right: -20px;
  border-radius: 0 5px 5px 0;

  svg {
    margin-top: 20px;
    height: 34px;
    width: 30px;
    margin-left: -5px;
    transition: transform 0.5s ease-in-out;
  }
}
