@import "../../../../../themes/dependencies/variables";

.selected {
  border-radius: 50% !important;
  border: 6px rgb(248, 247, 244);
  border-style: double;
  width: 40px;
  height: 40px;
}

.iconBase {
  border-radius: 5px;
}
