@import "dependencies/variables";

.flex-content-margin {
  margin: 0 2.5%;
}

.flex-content-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  &--welcome {
    height: 100vh;
  }

  &--column {
    display: flex;
    flex-direction: column;
  }

  &--distribute {
    flex-grow: 0;
    justify-content: space-between;
  }

  #root > & {
    background-blend-mode: lighten;
    background-color: $background-body;
    background-image: url("dependencies/images/tile.png");
    height: 100%;
  }

  .flex-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    min-width: 25%;

    &--welcome {
      height: 100vh;
      justify-content: center;
      width: 100%;

      .btn-action--primary {
        color: $white;
        margin-top: 16px;
      }

      .material-input {
        max-width: 250px;
      }
    }

    &--rowend {
      flex-direction: row-reverse !important;
    }

    &--row {
      flex-direction: row;
      margin-bottom: 0;

      .column {
        flex-direction: column;
      }
    }

    &--row-wrap {
      flex-direction: row;
    }

    &--center {
      align-self: center;
      width: 25%;
    }

    &--sml {
      justify-content: center;
    }

    &--fill {
      flex-grow: 1;
      min-width: 50%;
    }

    &--big {
      margin: 0 2.5%;
      min-width: 45%;
    }

    &--first {
      margin-left: 0;
    }
    &--last {
      margin-right: 0;
    }

    &--left50 {
      margin-right: 2.5%;
      min-width: 47.5%;
    }

    &--right50 {
      margin-left: 2.5%;
      min-width: 47.5%;
    }

    &--solo-item {
      margin: 0 auto;
      min-width: 55%;
    }

    &--main-menu {
      a {
        font-size: 2em;
        margin-top: 2em;
        text-decoration: underline;
      }

      a:first-of-type {
        margin-top: 0;
      }
    }
  }
}

.flexlayout {
  &__tab > div {
    height: 100%;
  }

  &__scrollbox {
    overflow: auto;
  }
}

#root {
  .flexlayout__layout:not(.flexlayout__layout--undo-transparent),
  .flex-content--welcome,
  .flex-landing-screen,
  .flex-transparent,
  .force-objectives {
    color: #fff;
  }

  .flexlayout__layout--fullWidth {
    width: 100%;
  }
}
