@import "dependencies/variables";

#game-setup-head {
  background: $grey-bg;
  padding: 2vh 1vw 0;
  position: relative;
  z-index: 2;
}

.wargame-title-container {
  display: flex;
  flex-direction: row;
}

.wargame-in-progress-warning {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  width: 200px;

  h6 {
    text-align: center;
  }

  svg {
    color: $secondary-color;
    margin-bottom: 5px;
    margin-right: 10px;
  }
}

.tab-nav {
  background: $grey-bg;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  color: $dark-grey;
  display: flex;
  flex-wrap: wrap-reverse;
  font-size: 14px;
  font-weight: 500;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;

  &-item {
    align-items: center;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    display: flex;
    flex-basis: fit-content;
    justify-content: center;
    min-height: 48px;
    min-width: 160px;
    padding: 6px 12px;
    position: relative;
    text-align: center;

    &.active-tab {
      border-bottom: 2px solid $primary-color;
    }

    .dirty-flag {
      font-size: 0.65em;
      position: absolute;
      right: 10px;
    }
  }
}

.forcesTab,
.channelsTab {
  padding-left: 25px;
}

.settingsTab {
  h3 {
    display: inline-flex;
    max-width: 33%;
    text-overflow: ellipsis;
  }
}

.forcesTab {
  h3 {
    display: inline-flex;
    max-width: 33%;
    text-overflow: ellipsis;
  }

  textarea {
    height: 200px;
    margin-top: 6px;
    padding: 8px 12px;
    width: 100%;
  }

  .force-color,
  .force-icon {
    align-self: center;
    height: 32px;
    margin: 0 20px;
    width: 32px;
  }

  .force-color {
    border: 1px solid #000;
    cursor: pointer;
  }

  .force-color-icon {
    display: flex;
    flex-wrap: wrap;

    .link {
      align-self: center;
    }
  }

  .force-input-wrap {
    display: flex;
  }

  .force-button-wrap {
    display: flex;
    flex-grow: 2;
    justify-content: flex-end;
  }

  .roles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 12px;

    .group-item {
      border-radius: 2px;
      margin: 0 5px 12px 0;
    }
  }
}

.group-item {
  .svg-inline--fa {
    cursor: pointer;
    padding: 1px;

    &.fa-pencil-alt {
      padding: 2px;
    }

    &.fa-eye {
      color: $primary-color;
      margin-right: 2px;
    }

    &.fa-comments {
      color: $primary-color;
      margin-right: 5px;
    }
  }
}

#editable-title {
  background: transparent;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: $secondary-color;
  font-family: "Segoe UI", sans-serif;
  font-size: 1.85em;
  font-weight: 500;
  padding: 0;
  text-overflow: ellipsis;
}

.channelsTab {
  h3 {
    display: inline-flex;
    max-width: 33%;
    text-overflow: ellipsis;
  }
}

.table-setup {
  font-family: "Segoe UI", sans-serif;
  margin-top: 12px;
  table-layout: fixed;
  width: 100%;

  svg {
    cursor: pointer;
    margin-left: 10px;
  }

  thead {
    border-bottom: 1px solid $light-grey;
    margin-bottom: 12px;

    th {
      padding: 6px;
    }
  }

  tbody {
    td {
      padding: 12px 6px;
    }

    &:nth-child(even) {
      background: $light-grey;
    }

    &:last-of-type {
      background: transparent;
    }
  }

  th,
  td {
    vertical-align: middle;
    width: 25%;
  }

  th:nth-of-type(2),
  td:nth-of-type(2),
  th:nth-of-type(3),
  td:nth-of-type(3) {
    width: 32.5%;
  }

  th:nth-of-type(4),
  td:nth-of-type(4) {
    width: 10%;
  }

  .all-roles,
  .templates {
    font-style: italic;
  }
}

.welcome-page {
  min-width: 75% !important;
  padding-left: 20vw;
  padding-top: 5vh;

  .welcome-screen-save {
    margin-left: auto;
  }

  .image-upload-link {
    cursor: pointer;
    margin-left: 45px;
    text-decoration: underline;
  }

  .section {
    margin-bottom: 20px;
    position: relative;
    width: fit-content;
  }

  .description {
    position: relative;
    width: 70%;

    .description-edit {
      border: 0;
      margin-bottom: 20px;
      width: 100%;
    }

    .link {
      margin-left: auto;
    }
  }

  .edit-hover-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .paragraph {
    padding-bottom: 1.25em;
  }
}

.serge-custom-logo {
  height: auto;
  width: 300px;
}

.panel-actions {
  justify-content: center;
}

.channel-actions {
  display: flex;
  justify-content: space-between;
}

.template-actions {
  max-width: 80%;
}
