@import "dependencies/variables";

#json-editor-wrap {
  margin: -43px 0 0;
  width: 100%;

  .save-link {
    display: flex;
    flex-flow: row-reverse;
  }
}

#json-editor {
  max-width: 100%;
}

div[data-schemaid="root"] > h3 > span:first-child {
  color: #fff !important;
}
