@import "dependencies/variables";

@mixin panel-item-wrap($radius) {
  background-color: $background-alpha-primary;
  border-radius: $radius;
}

.ReactModal__Overlay {
  &--after-open {
    background-color: rgba(255, 255, 255, 0.3) !important;
  }
}

.serge-logo {
  display: block;
  height: auto;
  margin: 0 auto;
  width: 200px;
}

.message-preview-player {
  @include panel-item-wrap(0 0 4px 0);
  border-left-style: solid;
  border-left-width: 4px;
  margin-left: 16px;

  h3 {
    font-size: 1.4em;
    padding-bottom: 0.25em;
  }

  span {
    font-size: 14px;
    opacity: 0.8;
  }
}

.feedback-channel {
  background: $light-bg;
  max-width: 15%;

  .message-list {
    padding: 20px;
  }
}

.info-wrap {
  align-items: center;
  display: flex;
  padding-left: 22px;

  .info-body {
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    margin-right: 6px;
    opacity: 0.5;
  }

  .out-of-game-feed & {
    display: block;
    overflow: hidden;
    padding-left: 0;

    time {
      color: rgba(7, 89, 134, 0.5);
      display: inline-block;
      font-size: 11px;
      margin-right: 12px;
      margin-top: 2px;
      vertical-align: middle;
    }
  }
}

#setup-title-editable {
  background: transparent;
  border: 0;
  color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.85em;
  font-weight: 500;
  text-overflow: ellipsis;
  width: 300px;

  &.input-game-title {
    color: $admin-color;
  }
}
#title-editable {
  background: transparent;
  border: 0;
  color: rgba(20, 20, 20, 0.7);
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.85em;
  font-weight: 500;
  text-overflow: ellipsis;
  width: 300px;

  &.input-game-title {
    color: $admin-color;
  }
}

.savewargame-icon {
  align-self: center;
  cursor: pointer;
  margin-left: 8px;
}

.out-of-game-feed {
  background: #fff;
  color: #000;
  max-width: 255px;

  .flexlayout__layout {
    display: flex;
    flex-grow: 2;
    position: relative;
  }
}

.message-feed {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  position: relative;

  /* stylelint-disable */
  /* ignores js rendered class name */
  .unread,
  .flexlayout__tab_button[class*="unread"] {
    /* stylelint-enable */
    &::after {
      color: #ff4141;
      content: "new";
      display: inline-block;
      font-size: 14px;
      margin-left: 5px;
      margin-top: -5px;
      vertical-align: middle;
    }

    &.unread-1 {
      &::after {
        content: "(1)";
      }
    }
    &.unread-2 {
      &::after {
        content: "(2)";
      }
    }
    &.unread-3 {
      &::after {
        content: "(3)";
      }
    }
    &.unread-4 {
      &::after {
        content: "(4)";
      }
    }
    &.unread-5 {
      &::after {
        content: "(5)";
      }
    }
    &.unread-6 {
      &::after {
        content: "(6)";
      }
    }
    &.unread-7 {
      &::after {
        content: "(7)";
      }
    }
    &.unread-8 {
      &::after {
        content: "(8)";
      }
    }
    &.unread-9plus {
      &::after {
        content: "(9+)";
      }
    }
  }

  #private-message-input-label {
    @include typo-secondary;
    font-weight: 600;
    margin-left: 0;
    text-transform: uppercase;

    .svg-inline--fa {
      display: inline-block;
      margin-right: 10px;
      margin-top: -5px;
      vertical-align: middle;
      width: 0.625em;
    }
  }

  #private-message-input {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    height: 65px;
    resize: none;
  }

  .private-message,
  .private-message div {
    background: $grey;
    color: #fff;
    font-style: italic;
  }

  .private div {
    font-style: italic;
  }

  .forces-in-channel {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 0 28px 0 16px;

    button {
      font-size: 12px;
      margin-left: auto;
      margin-right: -16px;
    }
  }

  .force-indicator {
    height: 24px;
    width: 24px;

    + .force-indicator {
      margin-left: 10px;
    }
  }

  .no-channel-notification {
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    h1 {
      text-align: center;
      width: 100%;
    }
  }

  &.out-of-game-feed {
    .message-list {
      padding: 8px;

      .data {
        font-size: 13px;
      }

      .message-bullet {
        background-color: $grey2;
        display: inline-block;
        height: 6px;
        left: 0;
        position: absolute;
        top: 10px;
        width: 6px;
      }
    }

    .message-preview-player,
    .message-preview-player.wrap {
      border-left: 0;
      box-shadow: none;
      clear: both;
      display: block;
      font-family: "Open Sans", "sans-serif";
      font-size: 13px;
      margin-bottom: 20px;
      margin-left: 0;
      padding: 0 0 0 16px;
      position: relative;
      width: auto;

      &.own-message {
        background-color: #ecf2fa;
        border-radius: 30px 30px 0;
        display: inline-block;
        float: right;
        padding: 6px 24px 12px;
        width: auto;
      }
    }

    .own-message {
      &::after {
        border-left: 20px solid transparent;
        border-top: 15px solid #ecf2fa;
        bottom: 0;
        content: "";
        display: block;
        height: 0;
        margin-bottom: -15px;
        position: absolute;
        right: 0;
        width: 0;
      }

      time,
      .badge {
        float: right;
      }

      time {
        margin-left: 12px;
        margin-right: 0;
      }
    }

    .new-message-creator {
      background-color: #fff;
      background-image: none;
      border-radius: 0;
      border-top: 2px solid $border-field-admin;
      box-shadow: none;

      .form-control-label {
        display: none;
      }

      .btn-action {
        background-color: $button-action-admin;
        background-image: url("dependencies/images/send.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        border-radius: 100%;
        height: 32px;
        position: relative;
        width: 32px;
        z-index: 5;
      }
    }
  }

  .message-list {
    flex-grow: 2;
    max-height: calc(100vh - 165px);
    overflow-x: hidden;
    overflow-y: scroll;

    .wrap {
      padding: 2px 16px 16px 32px;
    }

    .turn-marker {
      color: rgba(255, 255, 255, 0.3);
      display: block;
      font-size: 12px;
      font-weight: 600;
      padding-right: 10px;
      padding-top: 4px;
      text-align: right;
      width: 100%;
    }

    .message-status-icon {
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      width: 100%;
    }

    .feedback-marker {
      border-bottom: 1px solid $grey2;
      color: $grey2;
      padding-right: 10px;
      text-align: right;
      width: 100%;
    }

    .detail-row {
      font-size: 14px;
      margin-bottom: 0;
      margin-left: 0;
    }

    .detail-rows {
      padding-left: 14px;
    }

    .detail-title {
      display: inline-block;
      font-size: 75%;
      margin-top: 16px;
    }

    .detail {
      background: rgba(255, 255, 255, 0.25);
      border-radius: 2px;
      font-size: 65%;
      font-weight: 600;
      letter-spacing: 0.015em;
      margin-right: 4px;
      padding: 2px 4px;
    }
  }

  .data {
    display: inline-block;

    + .detail {
      margin-left: 16px;
    }
  }

  .detail {
    .fa-w-14 {
      margin-right: 5px;
      margin-top: -3px;
      vertical-align: middle;
    }
  }

  .Collapsible {
    color: #fff;
    padding-right: 12px;
    position: relative;

    + .Collapsible {
      margin-top: 8px;
    }

    &__trigger {
      cursor: pointer;
      display: block;
      line-height: 1.75em;

      .message-title-wrap {
        @include panel-item-wrap(0 4px 4px 0);
        border-left-style: solid;
        border-left-width: 4px;
        display: block;
        margin-left: 16px;
        padding: 6px 12px 12px;
        position: relative;
      }

      .message-title {
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: normal;
        max-width: 300px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      svg {
        color: $action-secondary-color;
        margin-right: 8px;
        margin-top: 6px;
        padding: 4px 2px 2px;
        vertical-align: top;
      }

      img {
        border-radius: 100%;
        height: 32px;
        margin-left: 10px;
        width: 32px;
      }
    }
  }

  .message-title-wrap {
    &::after {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 100%;
      content: "";
      display: block;
      height: 6px;
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translate3d(0, -50%, 0);
      width: 6px;
    }
  }

  .message-item-unread {
    .message-title-wrap {
      background-color: $background-alpha-bold;

      &::after {
        background-color: $action-secondary-color;
      }
    }

    .message-title {
      color: $action-secondary-color;
      font-weight: 600;
    }
  }

  .Collapsible__trigger {
    &.is-open {
      .message-title-wrap {
        border-radius: 0 4px 0 0;
        box-shadow: none;
      }
    }
  }

  .badge {
    font-size: 9px;
    height: auto;
    line-height: 1;
    margin-top: 2px;
    padding: 3px 8px;
    text-transform: uppercase;
    width: fit-content;

    + .badge {
      margin-left: 4px;
    }
  }

  .new-message-orderable {
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .bold {
    font-weight: bold;
  }

  .data {
    word-break: break-word;

    a {
      color: #fff;
    }
  }

  .message-group-button {
    display: flex;
    justify-content: space-evenly;
    width: 70%;
  }
}

.contain-game-insights,
.contain-game-admin {
  border: 1px solid #d1d1d1;
  box-shadow: 1px 1px 5px 1px #9b9b9b;
  display: flex;
  flex-direction: column;
}

.new-message-creator {
  background-image: linear-gradient(
    to bottom,
    #3fb7ac,
    #9dfff1 36%,
    rgba(2, 37, 96, 0)
  );
  border-radius: 4px 4px 0 0;
  bottom: 0;
  box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.4);
  padding: 1px;
  width: 100%;

  .chat-message-container {
    background: $background-action-head;
    border-radius: 4px 4px 0 0;
    padding: 8px 8px 22px;
  }

  .Collapsible {
    background: $background-action-head;
    border-radius: 4px 4px 0 0;
    padding: 8px 16px;

    &__trigger {
      @include typo-secondary;
      color: #fff;
      font-size: 14px;
      line-height: 1;
      padding: 6px 0 3px;
      position: relative;
      text-align: center;
      text-transform: uppercase;

      &::after {
        background-image: url("dependencies/images/arrow-open.png");
        content: "";
        display: inline-block;
        height: 16px;
        margin-left: 4px;
        margin-top: -6px;
        vertical-align: middle;
        width: 16px;
      }

      &.is-open::after {
        background-image: url("dependencies/images/arrow-close.png");
      }
    }
  }

  .message-input {
    margin-bottom: 18px;
  }

  .message-input:first-child {
    margin-top: 18px;
  }

  .btn {
    float: right;
  }

  h3 {
    display: none;
  }

  /* stylelint-disable */
  /* overrides js rendered style */
  .table-bordered thead th {
    background-color: transparent;
  }
  /* stylelint-enable */

  .message-creator {
    color: $primary-triad-color;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    /* 300px explained here: https://github.com/serge-web/serge/pull/867#discussion_r658656503  */
    /* last time we missed template selection area so added more +38px */
    max-height: calc(100vh - 338px);
    overflow-x: hidden;
    overflow-y: auto;

    div[class*="form-group"] {
      margin-bottom: 0 !important;
    }

    .bg-light {
      background-color: transparent !important;
    }

    .card {
      border: 0;

      &-body {
        padding: 0;
      }
    }
  }
}

.message-preview-player {
  > .detail-title {
    margin-bottom: 6px;
  }

  > .detail-rows > .detail-row {
    border-left: 3px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 10px;
    padding-left: 10px;
  }
}

.pre-start-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  button {
    align-self: center;
  }
}

.demo-passwords {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  left: 50px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);

  li + li {
    margin-top: 10px;
  }
}

.role-info {
  align-items: center;
  background: $force-default-color;
  display: block;
  position: relative;

  .role-type {
    color: $admin-color;
    display: block;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    padding: 8px 0 8px 16px;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }

  .contain-force-skin {
    border-bottom: 48px solid $force-default-color;
    border-left: 26px solid transparent;
    bottom: 0;
    margin: -8px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
  }

  .force-skin {
    border-bottom: 48px solid $admin-color;
    border-left: 26px solid transparent;
    left: 0;
    margin-left: -25px;
    position: absolute;
    right: 0;
    top: 1px;

    .force-type {
      @include typo-secondary;
      color: #fff;
      display: block;
      font-size: 14px;
      left: 0;
      letter-spacing: 0.015em;
      margin-left: auto;
      padding-left: 12px;
      position: absolute;
      text-transform: uppercase;
      top: 26px;
      transform: translate3d(0, -50%, 0);
      width: 85%;
    }

    .role-icon {
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 26px;
      transform: translate3d(0, -50%, 0);
    }
  }
}

.role-icon {
  border: 1px solid $force-default-color;
  border-radius: 100%;
  height: 16px;
  width: 16px;
}

.force-objectives {
  background: $admin-color;
  border: 1px solid $force-default-color;
  border-radius: 4px 0 0;
  border-right: 0;
  bottom: 0;
  height: 550px;
  overflow: hidden;
  padding: 14px;
  position: absolute;
  right: 0;
  width: 750px;
  z-index: 1000;

  .objective-text {
    margin-top: 15px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .role-info {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  }
}

.shortcuts {
  position: absolute;
  right: 0;
  top: 0;

  a {
    display: inline-block;
    width: 16px;

    + a {
      margin-left: 16px;
    }
  }
}

.link-admin {
  color: #fff;

  svg {
    height: 100%;
    width: 100%;
  }

  &:hover {
    color: #fff;
  }
}
