.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}
.col {
  flex: 1;
}
.section {
  padding: 12px 0;
}
.role {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.role-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.role-item:first-child {
  margin-right: 10px;
  flex: 1;
}
.role-title {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  font-size: 14px;
  line-height: 1.2;
  color: #1a394d;
  padding-bottom: 10px;
}
.title-center {
  text-align: center;
}
// Accordion styles
.accordion {
  margin-bottom: 20px;
}
.accordion-header {
  background-color: #8595a5 !important;
}
.accordion-title {
  color: #fff;
}
.arrow-icon {
  color: #fff;
}
