@import "~@serge/themes/dependencies/_variables";

$indicator-size: 20px;
$indicator-margin: 15px;
$progress-height: 2px;

.progress {

  @keyframes scale {
    0% {
      opacity: 0;
      transform: scale(0.75);
    }
    100% {
      opacity: 0.75;
      transform: scale(1);
    }
  }

  background: transparent;
  display: inline-flex;
  flex-direction: row;
  height: fit-content;
  padding: 5px 0;
  position: relative;
  width: fit-content;

  &::after {
    align-self: center;
    background: $primary-color;
    content: "";
    height: $progress-height;
    left: calc(#{$indicator-margin} + #{$indicator-size} / 2);
    position: absolute;
    width: calc(100% - #{$indicator-margin} * 2 - #{$indicator-size});

    z-index: 1;
  }
}


.indicator {
  background: $light-blue;
  border: 2px solid $primary-color;
  border-radius: 50%;
  height: $indicator-size;
  margin: 0 $indicator-margin;
  position: relative;
  transition: all 0.5s ease;
  width: $indicator-size;

  z-index: 2;
}

.active {
  composes: indicator;
  &::before {
    animation: scale 0.5s ease-out;
    border: 1.5px solid $success-color;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    height: $indicator-size + 9;
    left: -5px;
    opacity: 0.75;
    position: absolute;
    top: -5px;
    width: $indicator-size + 9;
  }
}

.complete {
  composes: indicator;
  background: $success-color;
  border: 2px solid $success-color;
}
