@font-face {
  font-family: "Squares";
  font-style: normal;
  font-weight: normal;
  src: url("./font-files/squares.woff2") format("woff2"),
    url("./font-files/squares.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./font-files/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./font-files/OpenSans-Semibold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./font-files/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 500;
  src: url("./font-files/OpenSans-Italic.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("./font-files/OpenSans-SemiboldItalic.woff")
    format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./font-files/OpenSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: normal;
  src: url("./font-files/alegreyasanssc-regular-webfont.woff2")
      format("woff2"),
    url("./font-files/alegreyasanssc-regular-webfont.woff")
      format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: normal;
  src: url("./font-files/alegreyasanssc-italic-webfont.woff2")
      format("woff2"),
    url("./font-files/alegreyasanssc-italic-webfont.woff")
      format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./font-files/alegreyasanssc-bold-webfont.woff2")
      format("woff2"),
    url("./font-files/alegreyasanssc-bold-webfont.woff")
      format("woff");
}

@font-face {
  font-family: "Alegreya Sans";
  font-style: italic;
  font-weight: 700;
  src: url("./font-files/alegreyasanssc-bolditalic-webfont.woff2")
      format("woff2"),
    url("./font-files/alegreyasanssc-bolditalic-webfont.woff")
      format("woff");
}
