$dark-grey: rgb(20, 20, 20);
$grey: #707070;
$grey2: #a9a9a9;
$light-grey: rgba(224, 224, 224, 0.5);
$grey-bg: #f5f5f5;
$force-default-color: #4bead1;
$red: #ff0000;

$umpire-menu-margin: 16px;
$padding-width: 6vw;
$padding-height: 6vh;

$title-size: 1.85em;
$title-line: 2.5em;

$paragraph-size: 16px;
$base-color: #212529;
$primary-color: #415b76;
$primary-triad-color: #fff;
$primary-triad-color-transparent: rgba(131, 88, 85, 0.25);
$secondary-color: #394959;
$success-color: rgba(171, 199, 97, 1);
$warning-color: #fff3cd;
$error-color: #a33730;
$notification-color: #4e895d;
$link-color: #2f86c5;
$action-secondary-color: #3ef1ea;
$turn-time-color: #9cffec;
$admin-color: #1a394d;

$light-bg: #fafcff;
$light-blue: #eff4f2;

$background-body: #013c5d;
$background-alpha-primary: rgba(189, 196, 245, 0.07);
$background-alpha-bold: rgba(240, 250, 255, 0.2);
$background-action-head: #00274b;
$background-custom: $force-default-color;
$background-custom-darken: #00c8a8;
$background-field: #1a3d5d;
$background-progression: #445160;
$button-action-admin: #54667c;
$border-field-admin: #ddefcf;
$placeholder-field-admin: #cdcccc;
$text-field-admin: #3a3a3a;

@mixin primary-shadow {
  box-shadow: 0 2px 10px 1px rgba(20, 38, 46, 0.5);
}

@mixin primary-content-shadow {
  box-shadow: 0 2px 10px -2px rgba(20, 38, 46, 0.5);
}

@mixin field-shadow {
  box-shadow: 0 2px 4px 0 #001f3c;
}

@mixin active-shadow() {
  box-shadow: 0 0 5px 3px rgba(171, 199, 97, 0.75);
}

@mixin shadow() {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin drawer-shadow() {
  box-shadow: 0 -2px 4px -1px rgba(0, 0, 0, 0.2),
    0 -4px 5px 0 rgba(0, 0, 0, 0.14), 0 -1px 10px 0 rgba(0, 0, 0, 0.12);
}

@mixin snackbar-shadow() {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

@mixin btn-down() {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.16), 0 0 0 rgba(0, 0, 0, 0.23);
}

@mixin transition() {
  transition: box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin transition-padding() {
  transition: padding 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin typo-primary {
  font-family: "Open Sans", "sans-serif";
}

@mixin typo-secondary {
  font-family: "Alegreya Sans", "sans-serif";
}
