@import "~@serge/themes/dependencies/variables";

@mixin panel-item-wrap($radius) {
  background-color: $background-alpha-primary;
  border-radius: $radius;
}

.chat-messgae-bubble {
  border-left-style: solid;
  border-left-width: 8px;
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
}
.message-title-wrap {
  min-width: 300px;
}
.chat-messgae-bubble-sent {
  border-left-width: 0;
  border-right-width: 8px;
  border-right-style: solid;
  justify-content: flex-end;
  .info-body {
    order: 3;
  }
  .message-title-wrap {
    border-radius: 5px 0 0 5px;
  }
}
.badges-box {
  margin-top: 10px;
}
.chat-inner-bubble {
  max-width: 60%;
}
.private-message {
  margin-top: -21px;
}
.icon-private {
  color: #434343;
  margin-right: 7px;
}
.private-message-text {
  color: #434343;
  font-size: 13px;
}
.private-message-box {
  padding: 9px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 6px;
  min-height: 40px;
  color: #00274B;
  font-size: 12px;
}

.message-title-wrap {
  @include panel-item-wrap(0 5px 5px 0);
  @include typo-primary;
  display: block;
  cursor: pointer;
  padding: 6px 12px 8px;
  position: relative;
  &.message-title-opened {
    @include panel-item-wrap(0 4px 0 0);
  }

  .message-item-unread & {
    background-color: $background-alpha-bold;

    &::after {
      background-color: $action-secondary-color;
    }
  }
}

.message-title {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  max-width: 300px;
  margin-bottom: 4px;
  .message-item-unread & {
    color: #fff;
    font-weight: 600;
  }
}

.info-body {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  margin-left: 6px;
  color: #00a3de;
}

.info-badge {
  font-size: 11px;
  margin-left: 6px;
}
