@import "../../../../themes/dependencies/variables";

.fieldset {
  border: transparent;

  input,
  label,
  div {
    color: #fff !important;
  }
}

h2 {
  @include typo-primary;
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  padding-left: 1vmin;
  padding-right: 1vmin;
}

.form-headr {
  @include typo-primary;
  display: inline-block;
  font-weight: 700;
  margin: 1rem 1rem 0.5rem 0.5rem;
  color: #fff;
}

.button {
  align-self: flex-end;
  background-color: #54667c !important;
  margin: 0 0.5rem 1rem 1rem !important;
  color: #fff !important;
  padding: 2px 8px !important;
}

.visibility {
  padding: 10px;
  background: $background-field;
  color: #fff;

  fieldset {
    border: 0;
    padding: 0;
  }

  // put space between action buttons
  button + button {
    margin-left: 1rem;
  }
}
