.main {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.speed {
  height: 80px;
  box-sizing: border-box;
  padding: 5px;
  flex: 1;
}
.speed-inner {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  box-sizing: border-box;
  padding-right: 6px;
}
.speed-items {
  width: 100%;
  height: 100%;
  position: relative;
}
.speed-item {
  box-sizing: content-box;
  border: 1px solid #fff;
  padding-bottom: 15px;
  bottom: -16px;
  width: 6px;
  position: absolute;
  cursor: pointer;
}
.speed-active {
  background-color: #9ea9b1;
}
.speed-selected {
  background-color: #fff;
}
.speed-item:hover {
  opacity: 0.8;
}

.result {
  margin-left: 12px;
  width: 94px;
  text-align: center;
}

.result h2 {
  margin: 0 0 15px;
  line-height: 1.2;
  font-size: 36px;
}

.result p {
  margin: 0;
  line-height: 1.2;
  font-size: 16px;
  font-weight: 600;
}
