.progress-box {
  display: flex;
  justify-content: flex-end;
}

.progress {
  background: transparent;
  display: flex;
  flex-direction: row;
  position: relative;
}

.progress::before {
  background: rgb(211, 211, 211);
  content: "";
  height: 2px;
  left: 12px;
  right: 12px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -1px;
}

.progress-indicator {
  background: #eff4f2;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 0 12px;
  position: relative;
  transition: all 0.5s ease;
  z-index: 2;
}

.progress-indicator:first-child {
  margin-left: 0;
}

.progress-indicator:last-child {
  margin-right: 0;
}

.progress-indicator-active::before {
  animation: scale 0.5s ease-out;
  border-radius: 50%;
  box-sizing: border-box;
  position: absolute;
  width: 150%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.progress-indicator-active {
  background: #388e3c;
  border: 1px solid #388e3c;
  box-shadow: 0 0 5px #388e3c;
}
