.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  /* Show grey if no colour is specified */
  background-color: #ccc;
  vertical-align: middle;
}

.selected > * {
  font-weight: 700;

  svg {
    background-color: #fff;
    border-radius: 2px;
  }
}

.input-container {
  label {
    margin: 0;
  }
}
