.color-box {
  display: inline-block;
  width: 25px;
  height: 1rem;
  border: 1px solid #222;
  /* Show grey if no colour is specified */
  background-color: #ccc;
  vertical-align: middle;
  margin-right: 0.5rem;
}

.selected > * {
  font-weight: 700 !important;
}
