@import "dependencies/variables";

#home-btn {
  color: $light-blue;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  padding-left: 2px;
  width: $padding-width;

  svg {
    align-self: center;
    margin-top: 3px;
  }
}

.button-wrap {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: $umpire-menu-margin 0;
}

.button-wrap-tab {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
}

.btn-block {
  display: block !important;
  width: 100% !important;
}

.btn-secondary {
  font-size: 12px;

  &:disabled {
    background: none !important;
    color: #707070;
  }

  .view-wrapper & {
    background-color: $secondary-color;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .new-message-creator & {
    span {
      color: $primary-triad-color;
      font-weight: 500;
    }

    i {
      color: $primary-triad-color;
    }
  }
}

#function {
  padding-left: 1.15em;
}

.close-tour-dialog {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.link {
  @include shadow();
  @include transition();
  background: $primary-color;
  border-radius: 2px;
  color: $light-blue;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 14px 8px 6px;
  text-transform: uppercase;
  width: fit-content;

  svg {
    margin-right: 2px;
    min-width: 30px;
  }

  &:hover {
    @include btn-down();
    text-decoration: none;
  }

  &--large {
    font-size: $title-size;
    line-height: 1em;
    padding: 0.6em 1em;
  }

  &--active {
    font-size: calc(#{$title-size * 1.25});
  }

  &--secondary {
    @include primary-shadow;
    background-color: $background-alpha-primary;
    color: $primary-triad-color;

    .view-wrapper &,
    .out-of-game-feed & {
      background-color: $secondary-color;

      &:hover {
        background-color: $secondary-color;
      }
    }

    .out-of-game-feed & {
      @include typo-secondary;
      box-shadow: none;
      display: block;
      font-size: 10px;
      margin-bottom: 16px;
      padding: 4px 16px;
    }

    &:hover {
      background: $primary-triad-color-transparent;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.25;
  }

  &--progress {
    cursor: progress;
    opacity: 0.25;
    pointer-events: none;
  }

  &--noIcon {
    padding: 8px 14px;
  }

  &--next-turn {
    @include typo-secondary;
    font-size: 12px;
    height: auto;
    margin-top: 20px;
  }
}

button {
  border: 0;
  width: fit-content;
}

.btn-action {
  border-radius: 2px;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 14px;
  text-transform: uppercase;
  width: fit-content;

  &--primary {
    @include primary-shadow;
    @include transition();
    background-color: $background-action-head;
    color: #fff;

    &:hover {
      @include btn-down();
      background-color: $background-field;
      color: $light-blue;
    }
  }

  &--form {
    @include typo-secondary;
    background-image: linear-gradient(
      to bottom,
      #3fb7ac,
      #9dfff1 36%,
      rgba(2, 37, 96, 0)
    );
    border-radius: 6px;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.4);
    color: #fff;
    display: inline-block;
    font-size: 12px;
    padding: 1px 0;
    text-align: center;

    > span {
      background-color: $background-field;
      border: 0;
      border-radius: 4px;
      display: block;
      padding: 6px 20px;
      &:hover {
        background-color: #132d44;
        color: #fff;
      }
    }

    &:hover {
      color: #fff;
    }
  }

  &--cancel {
    @include typo-secondary;
    background-image: linear-gradient(
      to bottom,
      #b73f3f,
      #ff9d9d 36%,
      rgba(163, 56, 56, 0.986)
    );
    color: #e9ecef !important;
    margin: 0 20px;
    padding: 0 !important;
  }

  &--send-message {
    color: #e9ecef !important;
    padding: 0.5px !important;
  }

  &--secondary {
    @include typo-secondary;
    background: none;
    color: $action-secondary-color;
    padding-bottom: 10px;
    padding-top: 10px;

    &:hover {
      color: $primary-triad-color;
    }
  }

  &--complimentary {
    @include typo-secondary;
    background-color: $background-custom;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 10px 14px;
    text-transform: uppercase;
  }
}

.btn--disabled {
  color: $grey2;
  cursor: not-allowed !important;
}

.btn-helper {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
}

.btn-hide {
  display: none !important;
}
