@import "dependencies/variables";

@mixin white-on-message-creator {
  .new-message-creator & {
    color: #fff;
  }
}

@mixin game-admin-input {
  background-color: #fff;
  box-shadow: none;
  color: $text-field-admin;
}

.form-group {
  margin-bottom: 0;

  + .form-group {
    margin-top: 16px;
  }

  .form-control-label {
    @include white-on-message-creator;
    font-size: 12px;
    line-height: 1;
    margin-bottom: 8px;
    text-transform: capitalize;
  }
}

.form-control {
  border-radius: 4px;
  font-family: "Open Sans", "sans-serif";
  font-size: 14px;

  .new-message-creator & {
    @include field-shadow;
    background-color: $background-field;
    border: 0;
    color: rgba(255, 255, 255, 0.8);

    &:focus {
      @include field-shadow;
      background-color: $background-field;
      color: rgba(255, 255, 255, 0.8);
    }

    &::placeholder {
      color: rgba(255, 255, 255, 0.2);
    }

    &:disabled,
    &[readonly] {
      background-color: rgb(128, 128, 128) !important;
    }
  }

  .out-of-game-feed & {
    @include game-admin-input;
    border-radius: 0;
    padding: 0;

    &:focus {
      @include game-admin-input;
    }
  }
}

.react-select {
  color: $base-color;
}

.ReactModalPortal {
  position: absolute;
  z-index: 10000;
}
