@import "dependencies/variables";

.invalid-input {
  background: rgba(150, 0, 0, 0.5) !important;
}

textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

select {
  width: 100%;
  min-height: 38px;
  padding: 2px 8px;

  background-color: hsl(0,0%,100%);
  border-color: hsl(0,0%,80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 123.5 68.5' style='enable-background:new 0 0 123.5 68.5;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23D1D1D1;stroke-width:8;stroke-miterlimit:10;%7D .st1%7Bfill:none;stroke:%23D1D1D1;stroke-width:3;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline id='XMLID_1_' class='st0' points='108.7,27.2 89.2,46.7 69.8,27.2 '/%3E%3Cline id='XMLID_15_' class='st1' x1='26' y1='2.5' x2='26' y2='65.5'/%3E%3C/svg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right .5em top 50%, 0 0;
  background-size: 2.2em;
}


textarea.material-input,
input.material-input,
.flatpickr-input{
  display: block;
  padding: 5px;
  margin-bottom: 16px;
  border-radius: 4px;
  min-width: 250px;
  background: $lightBg;

  .new-message-creator & {
    border: 2px solid $primaryColor;
  }
}

label.material-label {
  width: fit-content;
  background: transparent;
  padding: 0 0 0 6px;
  font-size: 12px;
  margin-top: 12px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  z-index: 2;

  .view-wrapper & {
    color: $adminColor;
  }
}

.flatpickr-input {
  font-family: "Open Sans", sans-serif;
  padding: 4px;
  border-radius: 4px;
}

input.material-input,
.flatpickr-input {
  max-width: 50%;
}

.input-group {
  & > .input-group-prepend {
    & >.btn {
      margin-left: 1px;

      &:last-child {
        border-radius: 0 4px 4px 0;
      }
    }
  }
}

// checkboxes

$md-checkbox-checked-color: $primaryColor;
$md-checkbox-border-color: rgba(0, 0, 0, 0.54);
$md-checkbox-border-color-disabled: rgba(0, 0, 0, 0.26);
$md-checkbox-checked-color-disabled: rgba(0, 0, 0, 0.26);

$md-checkbox-margin: 1em 0;
$md-checkbox-size: 1.25em;
$md-checkbox-padding: .25em;
$md-checkbox-border-width: 2px;
$md-checkbox-border-radius: 0.125em;
$md-checkmark-width: 0.125em;
$md-checkmark-color: #fff;
$md-checkbox-label-padding: .5em;

.md-checkbox {
  position: relative;
  margin: $md-checkbox-margin;
  text-align: left;

  &.md-checkbox-inline {
    display: inline-block;
  }

  label {
    cursor: pointer;
    display: inline;
    line-height: $md-checkbox-size;
    vertical-align: top;
    clear: both;
    padding-left: 1px;
    &:not(:empty) {
      padding-left: $md-checkbox-label-padding;
    }

    &:before, &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
    }

    &:before {
      // box
      width: $md-checkbox-size;
      height: $md-checkbox-size;
      background: #fff;
      border: $md-checkbox-border-width solid $md-checkbox-border-color;
      border-radius: $md-checkbox-border-radius;
      cursor: pointer;
      transition: background .3s;
    }

    &:after {
      // checkmark
    }
  }

  input[type="checkbox"] {
    outline: 0;
    visibility: hidden;
    width: $md-checkbox-size;
    margin: 0;
    display: block;
    float: left;
    font-size: inherit;

    &:checked {
      + label:before{
        background: $md-checkbox-checked-color;
        border:none;
      }
      + label:after {

        $md-checkmark-size: $md-checkbox-size - 2 * $md-checkbox-padding;

        transform: translate($md-checkbox-padding, ($md-checkbox-size / 2) - ($md-checkmark-size / 2.6)) rotate(-45deg);
        width: $md-checkmark-size;
        height: $md-checkmark-size / 2;

        border: $md-checkmark-width solid $md-checkmark-color;
        border-top-style: none;
        border-right-style: none;
      }
    }

    &:disabled {
      + label:before{
        border-color: $md-checkbox-border-color-disabled;
      }
      &:checked {
        + label:before{
          background: $md-checkbox-checked-color-disabled;
        }
      }
    }
  }
}

#custom-select-wargame-selection {
  width: 250px;
  position: relative;
  z-index: 3;
}
