@import "dependencies/variables";

@mixin panel-item-wrap($radius) {
  border-radius: $radius;
  background-color: $backgroundAlphaPrimary;
}

.serge-logo {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: auto;
}

.message-preview-player {
  margin-left: 16px;
  border-left-style: solid;
  border-left-width: 4px;
  @include panel-item-wrap(0 0 4px 0);

  h3 {
    font-size: 1.4em;
    padding-bottom: 0.25em;
  }

  span {
    font-size: 14px;
    opacity: 0.8;
  }
}

.feedback-channel {
  background: $lightBg;
  max-width: 15%;

  .message-list {
    padding: 20px;
  }
}

.info-wrap {
  display: flex;
  align-items: center;
  padding-left: 22px;

  .info-body {
    font-size: 11px;
    font-weight: 400;
    margin-right: 6px;
    display: inline-block;
    opacity: 0.5;
    line-height: 1;
  }

  .out-of-game-feed & {
    padding-left: 0;
    display: block;
    overflow: hidden;

    time {
      font-size: 11px;
      color: rgba(7, 89, 134, 0.5);
      display: inline-block;
      margin-right: 12px;
      margin-top: 2px;
      vertical-align: middle;
    }
  }
}

#title-editable {
  font-family: "Open Sans", sans-serif;
  font-size: 1.85em;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  background: transparent;
  text-overflow: ellipsis;
  display: inline-block;
  width: 300px;

  #game-setup-head & {
    color: $adminColor;
  }
}

.savewargame-icon {
  align-self: center;
  margin-left: 8px;
  cursor: pointer;
}

.out-of-game-feed {
  background: #ffffff;
  color: #000000;
  max-width: 25%;

  .flexlayout__layout {
    position: relative;
    display: flex;
    flex-grow: 2;
  }
}

.message-feed {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;

  .unread,
  .flexlayout__tab_button[class*="unread"] {
    &:after {
      content: "new";
      font-size: 14px;
      display: inline-block;
      margin-left: 5px;
      margin-top: -5px;
      vertical-align: middle;
      color: #ff4141;
    }

    &.unread-1 {
      &:after {
        content: "(1)";
      }
    }
    &.unread-2 {
      &:after {
        content: "(2)";
      }
    }
    &.unread-3 {
      &:after {
        content: "(3)";
      }
    }
    &.unread-4 {
      &:after {
        content: "(4)";
      }
    }
    &.unread-5 {
      &:after {
        content: "(5)";
      }
    }
    &.unread-6 {
      &:after {
        content: "(6)";
      }
    }
    &.unread-7 {
      &:after {
        content: "(7)";
      }
    }
    &.unread-8 {
      &:after {
        content: "(8)";
      }
    }
    &.unread-9plus {
      &:after {
        content: "(9+)";
      }
    }
  }

  #private-message-input-label {
    margin-left: 0;
    font-weight: 600;
    text-transform: uppercase;
    @include typo-secondary;

    .svg-inline--fa {
      display: inline-block;
      vertical-align: middle;
      margin-top: -5px;
      margin-right: 10px;
      width: 0.625em;
    }
  }

  #private-message-input {
    height: 65px;
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    resize: none;
  }

  .private-message,
  .private-message div {
    font-style: italic;
    background: $grey;
    color: #ffffff;
  }

  span.private div {
    font-style: italic;
  }

  .forces-in-channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 28px 0 16px;

    button {
      margin-left: auto;
      margin-right: -16px;
      font-size: 12px;
    }

    .force-indicator {
      width: 24px;
      height: 24px;

      + .force-indicator {
        margin-left: 10px;
      }
    }
  }

  .no-channel-notification {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    h1 {
      text-align: center;
      width: 100%;
    }
  }

  &.out-of-game-feed {
    .message-list {
      max-height: calc(100vh - 372px);
      padding: 16px;

      .message-preview-player {
        margin-left: 0;
        margin-bottom: 20px;
        display: block;
        border-left: none;
        width: auto;
        box-shadow: none;
        padding: 0 0 0 16px;
        position: relative;
        font-family: "Open Sans", "sans-serif";
        font-size: 13px;
        clear: both;

        .data {
          font-size: 13px;
        }

        .message-bullet {
          display: inline-block;
          width: 6px;
          height: 6px;
          background-color: $grey2;
          position: absolute;
          left: 0;
          top: 10px;
        }

        &.own-message {
          background-color: #ecf2fa;
          border-radius: 30px 30px 0 30px;
          padding: 6px 24px 12px;
          float: right;
          display: inline-block;
          width: auto;

          &:after {
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-top: 15px solid #ecf2fa;
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: -15px;
          }

          time,
          .badge {
            float: right;
          }

          time {
            margin-left: 12px;
            margin-right: 0;
          }
        }
      }
    }

    .new-message-creator {
      background-image: none;
      background-color: #ffffff;
      border-radius: 0;
      box-shadow: none;
      border-top: 2px solid $borderFieldAdmin;
      padding: 8px 16px;

      .form-control-label {
        display: none;
      }

      .btn-action {
        width: 32px;
        height: 32px;
        background-image: url("dependencies/images/send.png");
        background-color: $buttonActionAdmin;
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 100%;
        position: relative;
        z-index: 5;
      }
    }
  }

  .message-list {
    max-height: calc(100vh - 165px);
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 2;

    .wrap {
      padding: 2px 16px 16px 32px;
    }

    .turn-marker {
      display: block;
      width: 100%;
      color: rgba(255, 255, 255, 0.3);
      text-align: right;
      padding-right: 10px;
      padding-top: 4px;
      font-size: 12px;
      font-weight: 600;
    }

    .feedback-marker {
      width: 100%;
      border-bottom: 1px solid $grey2;
      color: $grey2;
      text-align: right;
      padding-right: 10px;
    }

    .message-preview-player > .detail-rows > .detail-row {
      margin-bottom: 10px;
      padding-left:10px;
      border-left: 3px solid rgba(255, 255, 255, 0.25);
    }

    .message-preview-player > .detail-title {
      margin-bottom: 6px;
    }

    .detail-row {
      margin-left: 0;
      margin-bottom: 0;
      font-size: 14px;
    }

    .detail-rows {
      padding-left: 14px;
    }

    .detail-title {
      font-size: 75%;
      display: inline-block;
      margin-top: 16px;
    }

    .detail {
      font-weight: 600;
      background: rgba(255, 255, 255, 0.25);
      border-radius: 2px;
      padding: 2px 4px;
      font-size: 65%;
      letter-spacing: 0.015em;
      margin-right: 4px;

      .fa-w-14 {
        margin-right: 5px;
        margin-top: -3px;
        vertical-align: middle;
      }
    }

    .data {
      display: inline-block;

      + .detail {
        margin-left: 16px;
      }
    }
  }

  .Collapsible {
    position: relative;
    color: #ffffff;
    padding-right: 12px;

    + .Collapsible {
      margin-top: 8px;
    }

    &.message-item-unread {
      .Collapsible__trigger {
        .message-title-wrap {
          background-color: $backgroundAlphaBold;

          &:after {
            background-color: $actionSecondaryColor;
          }
        }

        .message-title {
          font-weight: 600;
          color: $actionSecondaryColor;
        }
      }
    }

    &__trigger {
      display: block;
      line-height: 1.75em;
      cursor: pointer;

      .message-title-wrap {
        display: block;
        padding: 6px 12px 12px;
        margin-left: 16px;
        border-left-width: 4px;
        border-left-style: solid;
        position: relative;
        @include panel-item-wrap(0 4px 4px 0);

        &:after {
          content: "";
          display: block;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          background-color: rgba(0, 0, 0, 0.4);
          position: absolute;
          right: 16px;
          top: 50%;
          transform: translate3d(0, -50%, 0);
        }
      }

      .message-title {
        display: inline-block;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: normal;
        color: #ffffff;
      }

      svg {
        margin-right: 8px;
        margin-top: 6px;
        padding: 4px 2px 2px;
        color: $actionSecondaryColor;
        vertical-align: top;
      }

      img {
        margin-left: 10px;
        width: 32px;
        height: 32px;
        border-radius: 100%;
      }

      &.is-open {
        .message-title-wrap {
          box-shadow: none;
          border-radius: 0 4px 0 0;
        }
      }
    }
  }

  .badge {
    font-size: 9px;
    width: fit-content;
    height: auto;
    margin-top: 2px;
    line-height: 1;
    padding: 3px 8px;
    text-transform: uppercase;

    & + .badge {
      margin-left: 4px;
    }
  }

  .new-message-orderable {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .new-message-creator {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 -2px 4px 0 rgba(0, 0, 0, 0.4);
    padding: 1px;
    background-image: linear-gradient(
      to bottom,
      #3fb7ac,
      #9dfff1 36%,
      rgba(2, 37, 96, 0)
    );

    .Collapsible {
      padding: 8px 16px;
      background: $backgroundActionHead;
      border-radius: 4px 4px 0 0;

      &__trigger {
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        line-height: 1;
        padding: 6px 0 3px;
        position: relative;
        @include typo-secondary;

        &:after {
          content: "";
          display: inline-block;
          width: 16px;
          height: 16px;
          background-image: url("dependencies/images/arrow-open.png");
          margin-left: 4px;
          margin-top: -6px;
          vertical-align: middle;
        }

        &.is-open:after {
          background-image: url("dependencies/images/arrow-close.png");
        }
      }
    }

    .message-input {
      margin-bottom: 18px;
    }

    .btn {
      float: right;
    }

    .message-creator {
      max-height: 80vh;
      overflow-y: auto;
      overflow-x: hidden;
      font-family: "Open Sans", sans-serif;
      font-weight: bold;
      color: $primaryTriadColor;
      padding-top: 8px;

      h3>span {
        display: none;
      }

      .bg-light {
        background-color: transparent !important;
      }

      .table-bordered thead th
      {
        background-color: transparent;
      }

      .card {
        border: none;

        &-body {
          padding: 0;
        }
      }
    }
  }

  .bold {
    font-weight: bold;
  }

  .data {
    word-break: break-word;

    a {
      color: #ffffff;
    }
  }
}

.pre-start-screen {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;

  button {
    align-self: center;
  }
}

.demo-passwords {
  position: absolute;
  top: 50%;
  left: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 16px;
  transform: translate3d(0, -50%, 0);

  li + li {
    margin-top: 10px;
  }
}

.role-info {
  display: block;
  align-items: center;
  position: relative;
  background: $forceDefaultColor;

  .role-type {
    font-size: 13px;
    font-weight: 600;
    font-style: italic;
    color: $adminColor;
    display: block;
    width: 100%;
    padding: 8px 0 8px 16px;

    &:hover {
      text-decoration: none;
    }
  }

  .contain-force-skin {
    position: absolute;
    border-bottom: 48px solid $forceDefaultColor;
    border-left: 26px solid transparent;
    margin: -8px 0 0;
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .force-skin {
    position: absolute;
    border-bottom: 48px solid $adminColor;
    border-left: 26px solid transparent;
    margin-left: -25px;
    right: 0;
    top: 1px;
    left: 0;

    .force-type {
      position: absolute;
      left: 0;
      top: 26px;
      font-size: 14px;
      margin-left: auto;
      text-transform: uppercase;
      color: #ffffff;
      width: 85%;
      transform: translate3d(0, -50%, 0);
      display: block;
      letter-spacing: 0.015em;
      padding-left: 12px;
      @include typo-secondary;
    }

    .role-icon {
      position: absolute;
      top: 26px;
      right: 16px;
      cursor: pointer;
      transform: translate3d(0, -50%, 0);
    }
  }
}

.role-icon {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid $forceDefaultColor;
}

.force-objectives {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 750px;
  height: 550px;
  padding: 14px;
  border: 1px solid $forceDefaultColor;
  border-right: none;
  border-radius: 4px 0 0 0;
  background: $adminColor;
  overflow: hidden;
  z-index: 1000;

  .objective-text {
    margin-top: 15px;
    max-height: 400px;
    overflow-y: scroll;
  }

  .role-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.link-admin {
  position: absolute;
  top: 0;
  right: 0;
  color: white;

  &:hover {
    color: white;
  }
}
