.print-canvas {
  background: #fff;
  padding-top: 1px;

  section {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    margin: 1cm auto;
    margin-bottom: 20px;
    min-height: 29.7cm;
    padding: 2cm;
    position: relative;
    width: 21cm;

    @media print {
      background: initial;
      border: initial;
      border-radius: initial;
      box-shadow: initial;
      box-sizing: initial;
      margin: 0;
      min-height: initial;
      page-break-after: always;
      position: initial;
      width: initial;
    }

    > span {
      bottom: 0;
      color: #555;
      font-size: 12pt;
      left: 0;
      padding-bottom: 0.8cm;
      position: absolute;
      text-align: center;
      width: 100%;

      @media print {
        bottom: initial;
        color: initial;
        font-size: initial;
        left: initial;
        padding-bottom: initial;
        position: initial;
        text-align: initial;
        width: initial;
      }
    }
  }

  table {
    width: 100%;

    @media print {
      display: table;
      width: 100%;
    }

    th,
    td {
      padding: 0 0.2cm;

      @media print {
        padding: 0 0.2cm;
      }
    }

    th {
      padding-bottom: 0.2cm;

      @media print {
        padding-bottom: 0.2cm;
      }
    }

    tr:nth-child(even) {
      background-color: #ddd;

      @media print {
        background-color: #ddd;
      }
    }
  }
}

@page {
  margin: 0;
  size: A4;
}
