@import "./dependencies/variables";

$indicatorSize: 20px;
$indicatorMargin: 15px;
$progressHeight: 2px;

.progress {
  background: transparent;
  display: inline-flex;
  flex-direction: row;
  height: fit-content;
  padding: 5px 0;
  position: relative;
  width: fit-content;

  &::after {
    align-self: center;
    background: $primary-color;
    content: "";
    height: $progressHeight;
    left: calc(#{$indicatorMargin} + #{$indicatorSize} / 2);
    position: absolute;
    width: calc(100% - #{$indicatorMargin} * 2 - #{$indicatorSize});

    z-index: 1;
  }

  &-indicator {
    background: $light-blue;
    border: 2px solid $primary-color;
    border-radius: 50%;
    height: $indicatorSize;
    margin: 0 $indicatorMargin;
    position: relative;
    transition: all 0.5s ease;
    width: $indicatorSize;

    z-index: 2;

    &--active {
      &::before {
        animation: scale 0.5s ease-out;
        border: 1.5px solid $success-color;
        border-radius: 50%;
        box-sizing: border-box;
        content: "";
        height: calc(#{$indicatorSize} + 8px);
        left: -6px;
        opacity: 0.75;
        position: absolute;
        top: -6px;
        width: calc(#{$indicatorSize} + 8px);
      }

      @keyframes scale {
        0% {
          opacity: 0;
          transform: scale(0.75);
        }
        100% {
          opacity: 0.75;
          transform: scale(1);
        }
      }
    }

    &--complete {
      background: $success-color;
      border: 2px solid $success-color;
    }
  }
}
