.version-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0 5px 0 0;
  bottom: 0;
  font-size: 0;
  left: 0;
  list-style: none;
  margin: 0;
  padding-left: 10px;
  position: fixed;
  white-space: nowrap;
  z-index: 1000;

  li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
    vertical-align: top;

    span {
      font-weight: bold;
      margin-left: 0;
    }
  }
}
