//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700');

@import 'dependencies/variables';
@import 'dependencies/reset';
@import 'dependencies/bootstrap';
@import '~bootstrap/scss/bootstrap';
@import '~flatpickr/dist/themes/light.css';
@import 'base';
@import 'flex-layout';
@import 'typography';
@import 'btns';
@import 'forms';
@import 'sidebar';
@import 'json-editor';
@import 'message-preview';
@import 'preview-editor';
@import 'searchlist';
@import 'modal';
@import 'progress';
@import 'gameSetup';
@import 'input';
@import 'notification';
@import 'playerUi';
@import 'dropzone';
@import 'version';
@import 'turnProgresion';
@import 'export';
@import 'print';

#root {
  height: 100%;
}

.view-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding: $paddingHeight 1vw $paddingHeight calc(#{$paddingWidth} + 1vw);
  background-color: #fafcff; // ??

  &-gamesetup {
    padding: 0 0 $paddingHeight $paddingWidth;
  }
}

#umpire {
  width: 100vw;
  height: 100vh;
  padding: 15vh 0 15vh 22vw;
  h2 {
    margin-bottom: 1em;
  }
}

#loading {

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  p {
    align-self: center;
    max-width: 45%;
  }

  #loader{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
  }

  h1 {
    text-align: center;
    width: 100%;
    align-self: center;
    margin-top: 215px;
    color: $primaryColor;
  }

  #loader:before{
    content: "";
    position: absolute;
    left: 25px;
    top: 25px;
    width: 50px;
    height: 50px;
    background-color: $linkColor;
    animation: flip 1s infinite;
  }

  @keyframes flip {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: rotateY(180deg);
    }

    100% {
      transform: rotateY(180deg)  rotateX(180deg);
    }
  }
}
