//@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans:400,700');

@import "dependencies/variables";
@import "dependencies/reset";
@import "dependencies/bootstrap";
@import "~bootstrap/scss/bootstrap";
@import "~flatpickr/dist/themes/light.css";
@import "base";
@import "flex-layout";
@import "typography";
@import "btns";
@import "forms";
@import "sidebar";
@import "json-editor";
@import "message-preview";
@import "preview-editor";
@import "searchlist";
@import "modal";
@import "progress";
@import "gameSetup";
@import "input";
@import "notification";
@import "playerUi";
@import "dropzone";
@import "version";
@import "turnProgresion";
@import "export";
@import "print";

#root {
  height: 100%;
}

.view-wrapper {
  background-color: #fafcff; // ??
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
  padding: $padding-height 1vw $padding-height calc(#{$padding-width} + 1vw);
  position: relative;

  &-gamesetup {
    padding: 0 0 $padding-height $padding-width;
  }
}

#umpire {
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  h2 {
    margin-bottom: 1em;
  }
}

.tutorial {
  cursor: pointer;

  svg {
    color: rgb(00, 00, 00);
    font-size: 20px;
  }
}

.playerlog {
  cursor: pointer;

  svg {
    color: rgb(00, 00, 00);
    font-size: 20px;
  }
}

.underline {
  border-bottom: 1px solid #000;
  margin-right: 20px;
}

.loading {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;

  p {
    align-self: center;
    max-width: 45%;
  }

  .loader {
    border-radius: 100%;
    height: 100px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 100px;

    &::before {
      animation: flip 1s infinite;
      background-color: $link-color;
      content: "";
      height: 50px;
      left: 25px;
      position: absolute;
      top: 25px;
      width: 50px;
    }
  }

  h1 {
    align-self: center;
    color: $primary-color;
    margin-top: 215px;
    text-align: center;
    width: 100%;
  }

  @keyframes flip {
    0% {
      transform: rotate(0);
    }

    50% {
      transform: rotateY(180deg);
    }

    100% {
      transform: rotateY(180deg) rotateX(180deg);
    }
  }
}
