.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}

.col {
  flex: 1;
  max-width: 100%;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  margin-top: 20px;
  padding: 0;
}

.table {
  th {
    font-weight: bold;
  }

  tfoot tr {
    border-top: 1px solid #e0e0e0;
  }
}

.actions {
  position: relative;
  z-index: 2;
}

.control-groups {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.message-group {
  display: flex;
  max-width: 30%;
  min-width: 30%;
}

.message-title {
  max-width: 40%;
  min-width: 40%;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.message-content {
  max-width: 60%;
  min-width: 60%;
}

.box {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.title {
  font-weight: 800;
}

.pager {
  padding: 20px;
}

.status-item {
  margin-bottom: -10px;
}
