@import "../../../../themes/dependencies/variables";

.main {
  @include typo-primary;
  padding-top: 10px;
  color: #ffffff;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.inset {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #54667c;
}

.assigned {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 5px;
}

.feedback-header {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.feedback-icon {
  font-weight: 500;
  font-size: 30px;
  min-width: 25px;
  max-width: 25px;
  display: inline-block;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.feedback-title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 7px;
  line-height: 22px;
}

.feedback-item {
  background-color: #54667c;
  border-radius: 5px;
}

.feedback-content {
  color: #fff;
  margin: -10px 0 5px 25px;
  padding-bottom: 10px;
}
