.main {
  display: flex;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.item {
  flex: 1;
}

.status {
  font-size: 1rem;
}

.input {
  background: transparent;
  border: 0;
  color: hsla(0, 0%, 100%, 0.7);
  display: inline-block;
  font-family: inherit;
  font-size: 1.85em;
  font-weight: 500;
  text-overflow: ellipsis;
  width: 300px;
  color: #415b76;
  width: 100%;

  :focus {
    color: #000;
  }
}

.progress-box {
  display: flex;
  justify-content: flex-end;
}

.progress {
  background: transparent;
  display: flex;
  flex-direction: row;
  position: relative;
}

.progress::before {
  background: #415b76;
  content: "";
  height: 2px;
  left: 12px;
  right: 12px;
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -1px;
}

.progress-indicator {
  background: #eff4f2;
  border: 2px solid #415b76;
  border-radius: 50%;
  height: 20px;
  margin: 0 15px;
  position: relative;
  transition: all 0.5s ease;
  width: 20px;
  z-index: 2;
}

.progress-indicator:first-child {
  margin-left: 0;
}

.progress-indicator:last-child {
  margin-right: 0;
}

.progress-indicator-active {
  ::before {
    animation: scale 0.5s ease-out;
    border: 1.5px solid #abc761;
    border-radius: 50%;
    box-sizing: border-box;
    content: "";
    height: 28px;
    left: -6px;
    opacity: 0.75;
    position: absolute;
    top: -6px;
    width: 28px;
  }
}
.progress-indicator-complete {
  background: #abc761;
  border: 2px solid #abc761;
}
