.asset-icon {
  position: absolute;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 80%;
  border: 1px solid hsla(0, 0%, 100%, 0.6);
  &.selected {
    border: 4px solid rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
  }
  &.destroyed {
    border-radius: 20%;
    filter: brightness(0.5);
  }
}

.force {
  text-align: center;
  padding: 1rem;
}

.blue {
  background-color: #000fff;
}

.red {
  background-color: #ff0b00;
}

.blue-1 {
  background-color: #0af;
}

.red-1 {
  background-color: #ff0000;
}

.blue-2 {
  background-color: #00008f;
}

.red-2 {
  background-color: #ff7b7b;
}

.green {
  background-color: #19bd37;
}

.unknown {
  background-color: #999;
}

.popup {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 999;
}

$platforms: frigate, destroyer, mcmv, unknown, cv, agi, fast-attack-craft,
  unmanned-airborne-vehicle, merchant-vessel, fixed-wing-aircraft,
  fishing-vessel, missile, helicopter, boghammer, coastal-radar-site, datum,
  torpedo, pirate, mine, task-group;

@each $platform in $platforms {
  .platform-type-#{$platform} {
    background-image: url("./counters/#{$platform}.svg");
  }
}
