@import "~@serge/themes/dependencies/variables";

.main {
  @include typo-primary;
  padding-top: 10px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.assigned {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}
