$item-height: 44px;

.main {
  position: relative;
}

.main-empty {
  height: 0;
  overflow: hidden;
  transition: height linear 150ms;
}

.group-active {
  height: $item-height;
}

.empty-active {
  height: $item-height;
}

.main-group-out {
  position: absolute;
  left: 0;
  width: 22px;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  z-index: 5;
  border-radius: 4px;

  > div {
    margin-top: -1 * $item-height;
    height: calc(100% + #{$item-height});
  }
}
.group-out-active {
  width: 22px;
}

.dropzone {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1px 0;
  z-index: 1;

  + div {
    position: relative;
    z-index: 2;
  }
}

.item {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1px 0;
  background-color: rgba(255, 255, 255, 0.7);
}

.item-hide {
  width: 0;
  height: 0;
}

.collapse {
  display: block;
}

.holder {
  min-height: $item-height;
  > div {
    min-height: $item-height;
    height: 100%;
  }
}

.loading {
  opacity: 0.5;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  line-height: 20px;
  font-size: 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  border-radius: 5px;

  span,
  svg {
    display: block;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
}

.content-group-out {
  white-space: nowrap;
  transform: rotateZ(90deg);
}

.switchitem {
  opacity: 0;
  transition: opacity 300ms linear;
}

.switch {
  opacity: 1;
}

.content-empty {
  background-color: #595;
}

.content-group {
  background-color: rgba(0, 0, 0, 0);
}

.overlap {
  z-index: 15;
}

.content-disable {
  background-color: #d25246;
}
