.main {
  min-height: 40px;
  position: relative;
}

.dropzone {
  background-color: rgba(100,100,100,.5);
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%
}

.collapse {
  display: block;
}

.holder {
  min-height: 40px;
}
