@import "../../../../../themes/dependencies/variables";

.role-info {
  @include typo-primary;
  align-items: center;
  background: $force-default-color;
  display: block;
  position: relative;
  padding-left: 12px;

  a {
    cursor: pointer;
    text-decoration: none;
  }

  .badge {
    margin-left: 12px;
  }

  .role-type {
    color: $admin-color;
    display: block;
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;

    &:hover {
      text-decoration: none;
    }
  }

  .contain-force-skin {
    border-bottom: 48px solid $force-default-color;
    border-left: 26px solid transparent;
    position: absolute;
    right: 0;
    bottom: 1px;
    width: 50%;
  }

  .force-skin {
    border-bottom: 48px solid $admin-color;
    border-left: 26px solid transparent;
    left: 0;
    margin-left: -25px;
    position: absolute;
    right: 0;
    top: 1px;

    .force-type {
      @include typo-secondary;
      color: #fff;
      display: block;
      font-size: 14px;
      left: 0;
      letter-spacing: 0.015em;
      margin-left: auto;
      padding-left: 12px;
      position: absolute;
      text-transform: uppercase;
      top: 26px;
      transform: translate3d(0, -50%, 0);
      width: 85%;
    }

    .role-icon {
      cursor: pointer;
      position: absolute;
      right: 16px;
      top: 26px;
      transform: translate3d(0, -50%, 0);
      border: 1px solid $force-default-color;
      background-color: #fff;
      border-radius: 100%;
      height: 24px;
      width: 24px;
    }
  }
}
