.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}

.col {
  flex: 1;
}

.uniqid {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  padding: 12px;
}

.section:first-child {
  padding-left: 0;
}

.section:last-child {
  padding-right: 0;
}

.form-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;

  input {
    margin-left: 10px;
  }
}

.mobile-title {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #1a394d;
}

.states-holder > div > div:last-child::before {
  content: "";
  display: block;
  z-index: 1;
  // height: 38px;
  position: relative;
}

.attribute-header {
  display: flex;
  font-size: small;
  font-weight: 700;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  padding-left: 25px;
}

// build list of screen width
$screens: 1450px;
@for $i from 1 through 100 {
  $screens: append($screens, #{1450 + $i * 200}px);
}

.number-attribute-header-icon {
  display: flex;
  width: 608px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      padding-left: 1%;
      @for $i from 1 through length($screens) {
        /* stylelint-disable-next-line max-nesting-depth */
        @media screen and (min-width: nth($screens, $i)) {
          padding-left: #{$i * 3 + "%"};
        }
      }
    }
    &:nth-child(2) {
      justify-content: flex-start;
      margin-left: 20px;
      padding-left: 5%;
    }
    &:nth-child(3) {
      padding-left: 39%;
    }
    &:nth-child(4) {
      padding-left: 5%;
    }
    &:nth-child(5) {
      padding-left: 8%;
    }
  }
}

.enum-attribute-header-icon {
  display: flex;
  width: 608px;

  span {
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      padding-left: 1%;
      @for $i from 1 through length($screens) {
        /* stylelint-disable-next-line max-nesting-depth */
        @media screen and (min-width: nth($screens, $i)) {
          padding-left: #{$i * 3 + "%"};
        }
      }
    }
    &:nth-child(2) {
      justify-content: flex-start;
      margin-left: 20px;
      padding-left: 5%;
    }
    &:nth-child(3) {
      padding-left: 39%;
    }
    &:nth-child(4) {
      padding-left: 20%;
    }
  }
}

.modal {
  position: absolute;
  padding: 30px 10px 20px;
  background-color: rgb(221, 221, 221);
  border-style: none;
  border-radius: 8px;
  outline: none;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 250px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.cell {
  border: 0 !important;
  padding: 5px !important;
  width: 60% !important;
  margin-bottom: 5px;

  input {
    height: 0;
  }

  div {
    &:first-child {
      width: 100%;
    }
  }
}

.speedmodalcontent {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.button {
  text-align: center;

  button {
    border-width: 0;
    color: #fff;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    background-color: rgb(28, 69, 135);
    cursor: pointer;

    &:nth-child(1) {
      margin-right: 2px;
    }
  }
}
