.main {
  font-weight: 300;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: block;
  }

  li {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
    position: relative;
  }
}

.li:hover > div > span,
.li:hover section > span {
  opacity: 1 !important;
}

.presection {
  padding: 0 25px;
}

.active > div > span,
.active section > span {
  opacity: 1;
}

.active section,
.main li:hover section {
  border-bottom: 1px solid #434343 !important;
}

.value-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 25%;
  div {
    min-width: 100%;
    min-height: 25px;
  }
}

.main li {
  &:hover {
    .delete-btn {
      opacity: 1;
      z-index: 1;
    }
  }
}

.item {
  color: #999;
  cursor: unset;
}

.drag {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  height: 100%;
  top: 0;
  padding-left: 2px;
}

.delete-btn {
  font-size: 0.9em;
  cursor: pointer;
  margin-left: 20px;
  opacity: 0;
  position: relative;
  z-index: -1;
}

.trash-icon {
  padding: 0 5px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(24, 15, 15, 0);
}

.drag > span,
.section > span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
  color: #434343;
}

.section > input,
.section > div {
  font-family: inherit;
  font-size: 18px;
  background: none;
  border-width: 0;
  line-height: 20px;
  font-weight: 300;
  color: #434343;
}

.horizontal {
  display: flex !important;
  flex-direction: row;
  max-width: 19vw;
  overflow-y: hidden;
  overflow-x: auto;
}

.horizontallist {
  height: 40px;

  span {
    &:nth-child(2) {
      margin: 0 5px;
    }
  }
}

.overlap {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  border-width: 0;
  background: none;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 18px;
  font-weight: 300;
  color: #aaa;
  cursor: pointer;
  line-height: 24px;
}

.button:hover {
  color: #434343;
}

.add-section {
  padding-left: 25px;
}
