.write-message-panel {
  position: relative;
  padding: 10px;
  background-color: #00274b;
  border-radius: 5px 5px 0 0;
  .private-chat-text-block {
    padding-top: 13px;
  }
  .send-message-icon {
    position: absolute;
    top: 31px;
    right: 20px;
    cursor: pointer;
  }
}
