.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
.left {
  width: 25%;
  height: 100%;
  overflow-y: auto;
  border-right: 2px solid #BEBEBE;
  padding: 20px 0;
}
.right {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}
