$red: #f00;
$white: #fff;
$blue: #00f;

.example {
  color: $white;
  font-weight: bold;
}

.blue {
  composes: example;
  background-color: $blue;
}
.red {
  composes: example;
  background-color: $red;
}
