@import "../../../../../themes/dependencies/variables";

.adjudicate {
  padding: 10px;
  background: $background-field;
  color: #fff;

  fieldset {
    border: 0;
    padding: 0;
  }

  // put space between action buttons
  button + button {
    margin-left: 1rem;
  }
}
