@import "~@serge/themes/dependencies/variables";

.button-inner {
  display: flex;
  align-items: center;

  span {
    margin: 0 4px;
    display: inline-block;
  }

  .role-icons {
    color: $primary-color;
    font-size: 1rem;
    margin: 0 2px;
  }

  .role-action-icons {
    font-size: 1rem;
    cursor: pointer;
    margin: 0 2px;
  }
}
