.private-chat-text-input {
  .header-collapsible {
    cursor: pointer;
    color: #fff;
  }
  .icon-paperclip {
    margin-right: 10px;
  }
  .icon-private {
    padding-right: 5px;
  }
  .chat-text-input {
    margin-top: 7px;
    padding-left: 23px;
    position: relative;
  }
  .chat-text-input::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    background: #fff;
    top: 0;
    left: 3px;
    border-radius: 4px;
  }
}
