.main {
  background-color: #f1f1f1;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  padding: 20px;
  border-radius: 5px;
}

.placeholder {
  color: #394959;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.content {
  padding: 15px 0;
}
