@import "../../../../../themes/dependencies/variables";

.selected {
  border: 6px double #fff;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse 0.9s infinite;
}

.iconbase {
  border-radius: 70% !important;
  width: 30px;
  height: 30px;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.map-icon {
  background-color: transparent !important;
  border: 0 !important;
}
