.main {
  padding: 10px;
  background-color: #54667c;
}

.text {
  font-size: 14px;
  display: inline-block;
  margin-left: 10px;
}

.attributelist {
  margin-left: 80px;
}

.editattributes {
  margin-left: 20px;
}
