@import "../../../../../themes/dependencies/variables";

.heartbeat-status-icon {
  font-size: 20px;
  color: $red;

  &.start {
    animation: beat 0.8s infinite alternate;
    transform-origin: center;
  }

  &.stop {
    animation-play-state: paused;
    transform-origin: center;
    color: $grey;
    transform: scale(1.3);
  }
}

@keyframes beat {
  to {
    transform: scale(1.3);
  }
}
