@import "../../../../../themes/dependencies/variables";

.heartbeat-status-icon {
  font-size: 20px;
  color: $red;
  animation: beat 0.8s infinite alternate;
  animation-play-state: paused;

  &.disabled {
    color: $grey;
    transform: scale(1.3);
  }

  &.start {
    color: $red;
    animation-play-state: running;
    transform-origin: center;
  }

  &.stop {
    color: $red;
    animation-play-state: paused;
    transform-origin: center;
  }
}

@keyframes beat {
  to {
    transform: scale(1.3);
  }
}
