.main {
  font-weight: 300;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  align-items: center;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  flex-basis: fit-content;
  min-width: 160px;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
}

.active {
  border-bottom-color: #415b76;
}

.asterisk {
  position: absolute;
  right: 2px;
  top: 4px;
}
