@import "../../../../themes/dependencies/variables";

.wargame-option-menu {
  @include typo-primary;
  background: #fff;
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  height: auto;
  width: auto;
  z-index: 3;
  position: fixed;

  span {
    align-items: center;
    display: flex;
    cursor: pointer;
    padding: 2px 12px;
    color: $dark-grey;

    svg {
      margin-right: 6px;
      min-width: 1.25em;
    }

    path {
      fill: $grey;
    }

    &:hover {
      path {
        fill: $dark-grey;
      }
    }
  }
}
