@import "../../../../themes/dependencies/variables";

.chat-message-wrapper {
  @include typo-primary;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  display: block;
  cursor: pointer;
  padding: 12px 15px;

  &__owner {
    text-align: right;
  }

  &__other {
    text-align: left;
  }
}

.message-text {
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  line-height: 18px;
}

.info-body {
  display: inline-block;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #00a3de;

  &__owner {
    margin-left: 10px;
  }

  &__other {
    margin-right: 0;
  }
}

.icon-private {
  display: inline-block;
  margin-right: 5px;
  margin-top: -3px;
  vertical-align: middle;
}

.label-private {
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

.private {
  display: block;
  font-style: italic;
  background-color: #fff;
  border-radius: 5px;
  padding: 9px 8px;
  color: #000;
  font-size: 12px;
}

.message-bar {
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
}
