.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}

.col {
  flex: 1;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  padding: 12px;
}

.form-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}
