.asset-icon-background {
  position: relative;
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.asset-icon {
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 80%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 10%;
  &.selected {
    border: 4px solid rgba(255, 255, 255, 0.7);
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10%;
  }
  &.destroyed {
    border-radius: 40%;
    filter: brightness(0.7);
  }
}

.img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100%;
}

.asset-icon-with-image {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    display: block;
  }
}

.corner-line {
  background: rgb(0, 0, 0);
  height: 5px;
  width: 100%;
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
