.main {
  font-weight: 300;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.item {
  color: #999;
  cursor: unset;
}

.active {
  font-weight: bold;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}

.overlap {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu {
  z-index: 9999;
}
