.head {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}

.col {
  display: flex;
  margin: auto;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
