.td {
  padding: 4px 16px;
}

.input-box {
  min-height: 44px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.clips {
  white-space: normal;
}

.clip {
  margin-right: 4px;
  margin-bottom: 4px;
}

.clip:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.cells {
  width: 100%;
  display: flex;
  align-items: left;
  justify-content: left;
}

.list {
  flex-direction: column;
  align-items: flex-start;
}
