.infocard {
  width: 350px;
  min-height: 100px;
  word-break: break-all;
}

.header {
  background-color: rgb(106, 19, 54);
  /*background-color: rgb(0, 29, 75); */
  height: 50px;

  svg {
    color: #fff;
  }
}

.content {
  font-size: small;
  word-break: break-word;

  span {
    font-size: small;
    font-weight: 600;
    cursor: pointer;
  }
}

.childnode {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
}

.icon {
  cursor: help;
  display: flex;
  align-items: flex-start;
  color: #555;

  :hover {
    color: rgb(106, 19, 54);
  }

  svg {
    font-size: 18px;
    margin-top: -12px;
    margin-left: -2px;
  }
}
