.infoCard {
  width: 350px;
  min-height: 100px;
  word-break: break-all;
}

.header {
  background-color: rgb(0, 29, 75);
  height: 50px;

  svg {
    color: #fff;
  }
}

.content {
  font-size: small;

  span {
    font-size: small;
    font-weight: 600;
    cursor: pointer;
  }
}

.childNode {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
}

.icon {
  cursor: help;
  display: flex;
  align-items: flex-start;

  svg {
    font-size: 20px;
    margin-top: -10px;
  }
}