$force-default-color: #4bead1;
$admin-color: #1a394d;

.main {
  display: block;
  height: 150px;
}

.new-message-creator {
  background-color: #fff;
  background-image: none;
  border-radius: 0;
  border-top: 2px solid #ddefcf;
  box-shadow: none;
  padding: 8px 16px;
  width: 100%;
  height: 100%;
}

.media {
  display: flex;
  align-items: flex-start;
}

.message-creator {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  max-height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 8px;
}

.send {
  align-self: center;
}

.role-info {
  align-items: center;
  background: $force-default-color;
  display: block;
  position: relative;
}

.role-icon {
  border: 1px solid $force-default-color;
  border-radius: 100%;
  height: 16px;
  width: 16px;
}

.role-icon {
  cursor: pointer;
  position: absolute;
  right: 16px;
  top: 26px;
  transform: translate3d(0, -50%, 0);
}
.role-type {
  color: $admin-color;
  display: block;
  font-size: 13px;
  font-style: italic;
  font-weight: 600;
  padding: 8px 0 8px 16px;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

.contain-force-skin {
  border-bottom: 48px solid $force-default-color;
  border-left: 26px solid transparent;
  bottom: 0;
  margin: -8px 0 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
}

.force-skin {
  border-bottom: 48px solid $admin-color;
  border-left: 26px solid transparent;
  left: 0;
  margin-left: -25px;
  position: absolute;
  right: 0;
  top: 1px;
}

.force-type {
  color: #fff;
  display: block;
  font-size: 14px;
  left: 0;
  letter-spacing: 0.015em;
  margin-left: auto;
  padding-left: 12px;
  position: absolute;
  text-transform: uppercase;
  top: 26px;
  transform: translate3d(0, -50%, 0);
  width: 85%;
}
