.mapping {
    width: 100%;
    height: 100%;
}
.hex2-label {
  position: absolute;
  width:40px;
  font-size:20px;
}
.cell-label {
  color: #bbb;
  font-size: 14px;
  width: 50%;
  margin: 0 auto;
}

.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.platform-counter {
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
}

.platform-force {
  &-blue {
   background-color: #000fff; 
  }
  &-red {
    background-color: #ff0000;
  }
  &-green {
    background-color: #19bd37;
  }
  &-unknown {
    background-color: #999; 
   }
 }

 .leaflet-popup-content-wrapper {
   background-color: rgba(#fff, .8);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
 }

 .leaflet-popup-tip-container {
   display: none;
 }

$platforms: frigate, destroyer, mcmv, unknown, agi, fast-attack-craft, uas, merchant-vessel, fixed-wing-aircraft, fishing-vessel, missile, helicopter, boghammer, coastal-radar-site, datum, torpedo, pirate, mine;

@each $platform in $platforms {
  .platform-type-#{$platform} {
    background-image: url('counters/#{$platform}.svg');
  }   
}

.platform-counter-planned {
  opacity: 0.5
}

div.map-turn-marker {
  width: 200px;
  padding-left: 15px;
  color: #000;
}

.leaflet-marker-icon {
  border: 1px solid rgba(255, 255, 255, 0.6);
  &.selected {
    border: 4px solid rgba(255, 255, 255, .5);
  }
}