@import "../../../../../themes/dependencies/variables";

.btn-send {
  border-radius: 50% !important;
  width: 32px;
  height: 32px;
  min-width: 0 !important;

  span {
    color: #fff;
    padding: 0;
  }
}

.message-creator-wrap {
  display: flex;
  border-top: 2px solid $border-field-admin;
}
