.form {
  background-color: rgba(255, 255, 255, 0.65);
  height: 100%;
  box-sizing: border-box;
}

.default {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
}

.planning {
  background-color: #90ee90;
}
.adjudication {
  background-color: #fafad2;
}

.perceived-as {
  background-color: #434343;
  color: #fff;
  position: absolute;
  bottom: 0;
  z-index: 1010;
  width: 400px;
  height: 400px;
}
