// Accordion styles
.accordion {
  margin-bottom: 20px;
}

.accordion-header {
  background-color: #8595a5 !important;
}

.accordion-title {
  color: #fff;
}

.arrow-icon {
  color: #fff;
}

.icons-col {
  background-color: #d9d9d9;
  padding: 10px 20px;
  margin-top: 10px;
  height: 418px;
  overflow-y: auto;
}

.icons-col::-webkit-scrollbar {
  width: 7px;
}

.icons-col::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 4px;
}

.icons-col > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icons-col p {
  width: 100%;
  margin-top: 0;
  color: #838383;
  font-size: 14px;
  text-align: center;
  font-family: sans-serif;
}

.icon-item-main {
  width: 45%;
  margin-bottom: 15px;
}

.icon-box-holder {
  position: relative;
  padding-top: 100%;
}

.icon-box-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 555px;
}

.icon-box:hover {
  cursor: move;
}

.list-title {
  display: block;
  color: #b1b1b1;
  font-weight: bold;
  width: 90px;
  font-size: 14px;
  margin-right: 2px;
}

.list-input input {
  font-size: 14px;
  color: #434343;
  font-weight: bold;
}

.list-dynamic-input > div {
  width: 100%;
}

.assets-list-scrollable-box {
  height: 418px;
  overflow-y: auto;
  position: relative;
}

.assets-list-scrollable-box ul {
  padding-top: 0;
  min-height: 98%;
}

.assets-list-scrollable-box::-webkit-scrollbar {
  width: 7px;
}

.assets-list-scrollable-box::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 4px;
}

.assets-list-box {
  margin-top: 10px;
  position: relative;
}

.assets-list-box p {
  color: #1d3a4c;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 13px;
  font-family: sans-serif;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 10px 10px 5px;
  user-select: none;
  background: #f9f9f9;
}

.list-item:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.asset-name {
  flex: 1;
  margin-left: 10px;
  font-family: sans-serif;
}

.list-item-selected {
  background-color: #1c3a4c;
  color: #fff;
}

.list-item-selected:hover {
  background-color: #1c3a4c;
  color: #fff;
}

.icon-box > div {
  width: 70%;
  height: 70%;
  border-width: 0;
  // filter: invert(100%);
}

.item-asset-icon-box {
  width: 36px;
  height: 36px;
  background-color: #3dd0ff;
  border-radius: 50%;
}

.item-asset-icon-box > div {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  // filter: invert(100%);
  border-width: 0;
}

.view-result-box {
  height: 97%;
  padding-top: 20px;
  border-left: 1px solid #94a1aa;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.location-select {
  font-size: 14px !important;
  color: #434343 !important;
  font-weight: bold !important;
}

.location-select select:focus {
  background-color: transparent !important;
}

.add-asset-overlay {
  display: none;
  position: absolute;
  top: 29px;
  bottom: 8px;
  width: 100%;
  background-color: rgba($color: #d9d9d9, $alpha: 0.9);
  z-index: 5;
}

.add-asset-overlay-active {
  display: flex;
}

.add-asset-overlay-msg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 16px;
  color: #838383;
  width: 100%;
  left: 0;
  z-index: 1;
}

.add-asset-overlay-dropzone {
  opacity: 0;
  visibility: visible;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.platform-types-box {
  position: relative;
}

.icon-box-name {
  font-size: 14px;
  text-align: center;
  word-break: break-word;
}

.attribute-chip {
  margin-bottom: 1px;
}

.attribute-group {
  align-items: flex-start;
}
