// @import "../../../themes/dependencies/reset";
@import "../../../themes/dependencies/reset";

.adjudicate {
  padding: 10px;
  // background: $background-field;
  color: #fff;

  fieldset {
    border: 0;
    padding: 0;
  }

  // put space between action buttons
  button + button {
    margin-left: 1rem;
  }

  .fieldset {
    border: transparent;

    input,
    label,
    div {
      color: #fff !important;
    }
  }
}

.attributelist {
  margin-left: 80px;
}

.editattributes {
  margin-left: 20px;
}
