.world-state {
  display: block;
  padding: 0.75rem;
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  min-height: 240px;
}

.world-state ul {
  padding: 0;
  margin: 0 0 26px;
  list-style: none;
}
.world-state ul:last-child {
  margin-bottom: 10px;
}

.world-state li {
  padding: 0;
  margin: 0;
  color: #434343;
}

.title {
  margin: 0 0 1rem;
  text-transform: uppercase;
  font-size: 18px;
  color: #434343;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 2px 28px 2px 52px;
  cursor: pointer;
}
.item p {
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.4;
  font-size: 10px;
  color: #000;
}
.item p:first-child {
  line-height: 1;
  font-size: 14px;
  color: #000;
}
.item svg {
  display: block;
}

.item-icon {
  position: absolute;
  top: 50%;
  margin-top: -18px;
  left: 5px;
  width: 36px;
  height: 36px;
  border: 4px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  box-shadow: none;
}

.item-check {
  position: absolute;
  right: 1px;
}

.item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.submit {
  margin-bottom: 8px;
  text-align: center;
}

.action {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
}
