$size: 16px;
$channel-icon-size: 20px;

.main {
  padding-left: $size + 4;
  position: relative;
  min-height: $size;
}

.control {
  position: absolute;
  left: 0;
  top: 50%;
  width: $size;
  height: $size;
  line-height: $size;
  margin-top: calc(-1 * 6 / 2);
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #000;
  display: block;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  svg {
    vertical-align: top;
  }
}

.control-channel {
  top: 0;
  width: $channel-icon-size;
  height: $channel-icon-size;
  line-height: $channel-icon-size;
  margin-top: 0;
  border-width: 0;
  display: block;
}

.content {
  display: block;
}
