$red: red;
$white: white;
$blue: blue;

.example {
  color: $white;
  font-weight: bold;
}

.blue {
  composes: example;
  background-color: $blue;
}
.red {
  composes: example;
  background-color: $red;
}