.main {
  padding: 10px;
  background-color: #1a394d;
}

.title {
  display: block;
  padding: 0.75rem;
  background-color: #fefefe;
  box-sizing: border-box;
  font-family: "Open Sans", "sans-serif";
  min-height: 140px;
}
