@import "~@serge/themes/dependencies/variables";
.input-container {
  padding-bottom: 0.5rem;

  .input-label {
    @include typo-primary;
    display: block;
    font-weight: 700;
  }
}

.disable-offset {
  padding: 0;
}
