.group {
  background-color: #314D5F;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #fff;
}

.container {
  flex: 1;
}

.title {
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 1rem 0 1rem 1rem;
  line-height: 1.2;
}
