.group {
  background-color: #314d5f;
  border-radius: 3px;
  margin-bottom: 0.625rem;
  display: flex;
  align-items: flex-start;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #fff;
  position: relative;
}

.group-title-absolute {
  display: block;
}

.container {
  flex: 1;
}

.main-container:first-child {
  padding: 0.625rem 1rem;
}

.main-container {
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 44px;
  box-sizing: border-box;
  flex-grow: 2;
}

.align-left {
  justify-content: flex-start;
}
.align-center {
  justify-content: center;
}
.align-right {
  justify-content: flex-end;
}
.align-justify {
  justify-content: space-between;
}
.align-justify-center {
  justify-content: space-around;
}

.disable-offsets {
  padding: 0;
}

.title {
  font-size: 0.6875rem;
  text-transform: uppercase;
  padding: 1rem 0 1rem 1rem;
  line-height: 1.2;
}

.title-absolute {
  position: absolute;
  left: 0;
  top: 0;
  padding-bottom: 0;
}

.title-absolute + .main-container {
  padding: 0.625rem;
}

.input input {
  line-height: 0.8;
  font-size: 14px;
  height: auto;
  padding: 3px 0 4px;
}

.select > div {
  font-size: 14px;
  line-height: 0.8;
  min-width: 150px;
  color: #fff;
}
