.mapping-form-container .input-container {
    &.marker-name {
        padding-left: 1rem;
        label,
        input {
            position: relative;
            display: block;
        }
        input {
            padding: .2rem;
        }
        button {
            display: inline-block;
            float: none;
        }
        button + button {
            margin-left: .5rem
        }
    }
}