@import "../../../../themes/dependencies/variables";

.heartbeat-status-icon {
  font-size: 20px;
  color: $red;
  font-size: 15px;

  &.disabled {
    color: $grey;
    transform: scale(1);
  }

  &.start {
    color: $red;
    animation: beat 0.8s 2 alternate;
    transform-origin: center;
  }

  &.stop {
    color: $red;
  }
}

@keyframes beat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.3);
  }
}
