@import "../../../../themes/dependencies/variables";

.message-list {
  max-height: calc(100vh - 372px);
  padding: 16px;

  .data {
    font-size: 13px;
  }

  .message-bullet {
    background-color: $grey2;
    display: inline-block;
    height: 6px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 6px;
  }
}

.info-wrap {
  align-items: center;
  display: flex;
  padding-left: 22px;

  .info-body {
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    margin-right: 6px;
    opacity: 0.5;
  }

  .out-of-game-feed & {
    display: block;
    overflow: hidden;
    padding-left: 0;

    time {
      color: rgba(7, 89, 134, 0.5);
      display: inline-block;
      font-size: 11px;
      margin-right: 12px;
      margin-top: 2px;
      vertical-align: middle;
    }
  }
}

.link {
  @include primary-shadow;
  @include transition();
  background-color: $background-alpha-primary;
  border-radius: 2px;
  color: $primary-triad-color;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 14px;
  text-transform: uppercase;
  width: fit-content;

  &:hover {
    background-color: $primary-triad-color-transparent;
  }
}
