.version-container {
  position: fixed;
  bottom: 0;
  left: 0;
  list-style: none;
  white-space: nowrap;
  font-size: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, .5);
  padding-left: 10px;
  border-radius: 0 5px 0 0;

  li {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    margin-right: 10px;
    line-height: 20px;

    span {
      font-weight: bold;
      margin-left: 5px;
    }
  }
}
