.main {
  display: inline-block;
  font-weight: 300;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}
.disabled {
  color: #999;
  cursor: unset;
}
