.panelGroup {
  border: 1px solid #d3d3d3;
  background-color: #fff;
  width: 100%;
  border-right: 2px solid gray;
}

.resize-handle-outer {
  flex: 0 0 2px;
  position: relative;
  outline: none;
  background-color: #d3d3d3;
}

.resize-handle-inner {
  position: absolute;
  top: 1px;
  left: 4px;
  right: 4px;
  border-radius: 4px;
  transform: translateX(-2px);
}

.resize-handle-horizontal {
  transform: rotate(90deg) translateX(2px);
  cursor: ns-resize;
}

.icon {
  width: 18px;
  position: absolute;
  left: calc(50% - 9px);
  top: calc(50% - 9px);
}

.filterPanel {
  background-color: lightgray;
  padding: 0px 0px 20px 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border: 1px solid lightgray;
  height: 35px;
  box-shadow: 1px 1px 1px;
  font-weight: 600;
  color: black;

  svg {
    position: absolute;
    left: 10px;
    cursor: pointer;
  }
  p {
    margin: 0;
  }
}

.itemsBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
  margin-top: 5px;
  gap: 10px;

  p {
    min-width: 80px;
    width: 80px;
    margin: 0;
    text-transform: capitalize;
    color: #000;
  }

  div {
    width: calc(100% - 80px);
    

    input,
    select {
      width: 100%;
      min-height: 30px;
    }
  }

  button {
    position: relative;
  }
}

.button {
  display: flex;
  justify-content: end;
  padding: 5px 10px;
  gap: 5px;

  button {
    position: relative !important;
    width: 70px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px gray;
  }
}

.itemsPanel {
  background-color: lightgray;
  padding: 0px 0px 20px 0px;
}

.propertiesPanel {
  background-color: lightgray;
  padding: 0px 0px 20px 0px;
}

.listItem {
  padding: 0 0 0 10px;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;

  label {
    margin: 0;
  }
}

.filterList {
  height: 300px;
  overflow-y: auto;

  div {
    height: 35px;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: rgb(227, 227, 227);
      transition: background-color 500ms linear;
    }
  }
}

.itemsResponsive {
  overflow: auto;
  height: calc(100% - 20px) ;
}

.propertiesResponsive { 
  overflow: auto;
  height: calc(100% - 60px) ;
}

.removeIcon {
  color: red;
  cursor: pointer;
}

.lblCbx {
  color: #000;
}

.asset-icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}

.health-bar {
  height: 10px;
  width: 20px;
  margin-top: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}