.main {
  padding: 20px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  width: 100%;
}
.row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 52px;
}

.col {
  flex: 1;
}

.flatpickr {
  border: 0;
  background: transparent;
  outline: none;
  margin-bottom: 2px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  padding: 12px;
}

.section:first-child {
  padding-left: 0;
  flex: 1.5;
}

.section:last-child {
  padding-right: 0;
}

.textarea {
  resize: none;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  margin-bottom: -15px;
}

.label {
  font-size: 14px;
  color: #1a394d;
  display: block;
}

.group {
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.formcontrol {
  margin: 20px;
  min-width: 100%;
}
