.modal {
  position: absolute;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 4px;
  outline: none;
  top: 50%;
  left: 50%;
  width: 900px;
  height: 80%;
  min-height: 450px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.modalHeader {
  padding: 10px;
}

.closeIcon {
  display: flex;
  justify-content: flex-end;
  font-weight: 900;
  font-size: larger;
  width: 100%;
  margin-top: -5px;
  cursor: pointer;
}

.playerLogIcon {
  margin: -10px 0 0 10px;
  display: flex;
  align-items: flex-start;

  svg {
    color: rgb(00, 00, 00);
    font-size: 50px;
  }
}

.title {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.titleMain {
  text-decoration: underline;
  font-weight: 900;
  font-size: x-large;
}

.titleHint {
  font-size: small;
}

.content {
  margin: 30px 20px 0 20px;
  height: 75%;
}

.tableContent {
  padding: 0 20px 0 20px;
  max-height: 70%;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logContent {
  overflow-x: hidden;
  overflow-y: auto;
  height: 42vh;
}

.row {
  display: flex;
  flex-direction: row;
  text-align: center;

  span {
    &:nth-child(1) {
      width: 20%;
    }

    &:nth-child(2) {
      width: 20%;
    }

    &:nth-child(3) {
      width: 20%;
      font-size: 12px;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 20%;
      font-size: 12px;
    }
  }
}

.header {
  border-bottom: 1px solid #000;
  padding: 2px;
  font-size: 14px;
  font-weight: 600;
}

.item {
  margin-top: 8px;

  span {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin-right: 10px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;

    &:nth-child(1) {
      font-weight: 700;

      p {
        margin-top: 15px;
        margin-right: 2px;
      }
    }
  }
}

.active {
  border: 2px solid #555;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  background-color: green;
}

.inactive {
  border: 2px solid #555;
  border-radius: 100%;
  height: 24px;
  width: 24px;
  background-color: red;
}

@keyframes rotation{
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
  
.refreshIcon {
  svg {
    margin-bottom: -40px;
    font-size: 18px;
  }
}

.rotate {
  svg {
    animation-name: rotation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }
}

.role-icon {
  border: 2px solid #555;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}

.roleicon {
  border: 2px solid #555;
  border-radius: 100%;
  height: 24px;
  width: 24px;
}
