@import "../../../../themes/dependencies/variables";

.messages-list {
  max-height: calc(100vh - 165px);
  overflow-y: scroll;
  overflow-x: hidden;
  flex-grow: 2;
}

.turn-marker {
  @include typo-primary;
  color: rgba(255, 255, 255, 0.3);
  display: block;
  font-size: 12px;
  font-weight: 600;
  padding-right: 10px;
  padding-top: 4px;
  text-align: right;
  width: 100%;
}
