.main {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #fff;
}

.main h2 {
  font-size: 18px;
  margin: 0;
  flex: 1;
  display: block;
}

.icon {
  width: 36px;
  height: 36px;
}
