.default-hex {
  // Note: we specify fill inside the code, depending if the are polygons present
  //fill-opacity: 0.2;
  fill: transparent;
  stroke: #aaa;
  opacity: 0.6;
  stroke-width: 1;
}

.allowable-hex {
  // Note: we specify fill inside the code, depending if the are polygons present
  // fill: transparent;
  fill-opacity: 0.2;
  stroke: #444;
  opacity: 1;
  stroke-width: 1.2;
}

.planned-hex {
  fill-opacity: 0.4;
  stroke: #111;
  opacity: 1;
  stroke-width: 2;
}

.selected-hex {
  opacity: 1;
  fill-opacity: 0.6;
  stroke-width: 4;
}

.terrain-outline {
  fill-opacity: 0.4;
  stroke: #444;
  stroke-width: 1;
}

.planned-line {
  stroke-width: 4;
}

.planning-line {
  stroke-width: 2;
}

.allowable-line {
  stroke-width: 3;
}

.default-coords {
  color: #555;
  line-height: 12px;
  font-size: 12px;
  opacity: 0.8;
  text-align: center;
}

.num-cells {
  color: rgb(18, 17, 89);
  line-height: 36px;
  font-size: 36px;
  opacity: 0.8;
  text-align: center;
}
