.default-hex {
  // fill-opacity: 0.2;
  fill: transparent;
  stroke: #aaa;
  opacity: 0.6;
  stroke-width: 2;
}

.allowable-hex {
  fill-opacity: 0.2;
  stroke: #fff;
  opacity: 0.4;
  stroke-width: 2;
}

.planned-hex {
  fill-opacity: 0.4;
  stroke: #fff;
  opacity: 1;
  stroke-width: 3;
}

.selected-hex {
  opacity: 1;
  fill-opacity: 0.6;
  stroke-width: 4;
}

.planned-line {
  stroke-width: 4;
}

.planning-line {
  stroke-width: 2;
}

.default-coords {
  color: #333;
  line-height: 14px;
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
}
