.default-hex {
  fill: transparent;
  stroke: #fff;
  opacity: 0.2;
  stroke-width: 2;
}

.allowable-hex {
  fill: #ccc;
  stroke: #fff;
  opacity: 1;
  stroke-width: 2;
}

.planned-hex {
  fill: #249;
  stroke: #fff;
  opacity: 1;
  stroke-width: 2;
}

.planned-line {
  stroke: #249;
}

.default-coords {
  line-height: 20px;
  opacity: 0.4;
  text-align: center;
}
