.default-hex {
  fill: transparent;
  stroke: #fff;
  opacity: 0.6;
  stroke-width: 2;
}

.allowable-hex {
  stroke: #fff;
  opacity: 0.4;
  stroke-width: 2;
}

.planned-hex {
  stroke: #fff;
  opacity: 1;
  stroke-width: 3;
}

.planned-line {
  stroke-width: 4;
}

.planning-line {
  stroke-width: 2;
}

.default-coords {
  color: #444;
  line-height: 20px;
  opacity: 0.8;
  text-align: center;
}
