.main {
  border-width: 0;
  background: transparent;
  box-sizing: border-box;
  color: #394959;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1.85em;
  font-weight: 500;
  padding: 0;
  text-overflow: ellipsis;
}
