@import "../../../../../themes/dependencies/variables";

.root {
  min-width: 350px;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
}

.content {
  min-width: 330px;
  height: 100%;
  border: 1px solid black;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.actionTab {
  width: 30px;
  height: fit-content;
  writing-mode: vertical-lr;
  display: flex;

  p {
    cursor: pointer;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-bottom: 1px;
    border-left: 0;
    background-color: #fff;
    color: #000;
    font-size: smaller;
    font-weight: 550;
  }
}

.active {
  background-color: #00274b !important;
  color: #fff !important;
}

.tab-panel {
  width: 100%;
  color: #000;
}

.panel {
  display: flex;
  width: 100%;
  z-index: 2;
}

.secondaryActionTab {
  position: absolute;
  z-index: 1;
}
