// $red: red;
// $white: white;
// $blue: blue;

// .example {
//   color: $white;
//   font-weight: bold;
// }

// .blue {
//   composes: example;
//   background-color: $blue;
// }
// .red {
//   composes: example;
//   background-color: $red;
// }
.main {
  height: 100vh;
  border: 1px solid #000;
  padding-bottom: 150px;
  position: relative;
}

.messages {
  height: 100%;
}

.chat {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
