.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}

.col {
  flex: 1;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  padding: 12px;
}

.section:first-child {
  padding-left: 0;
}

.section:last-child {
  padding-right: 0;
}

.form-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;

  input {
    margin-left: 10px;
  }
}

.mobile-title {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #1a394d;
}

.states-holder > div > div:last-child::before {
  content: "";
  display: block;
  z-index: 1;
  // height: 38px;
  position: relative;
}

.commoditie-header {
  display: flex;
  font-size: small;
  font-weight: 700;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;

  span {
    &:nth-child(1) {
      min-width: 25%;
    }
    &:nth-child(2) {
      width: 40px;
    }
    &:nth-child(3) {
      width: 80px;
    }
    &:nth-child(4) {
      width: 380px;
    }
    &:nth-child(5) {
      width: 80px;
    }
  }
}

.modal {
  position: absolute;
  padding: 30px 10px 20px 10px;
  background-color: rgb(221, 221, 221);
  border: none;
  border-radius: 10px;
  outline: none;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 250px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.speedModalContent {
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
}

.button {
  text-align: center;

  button {
    border-width: 0;
    color: #fff;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 300;
    background-color: rgb(28, 69, 135);
    cursor: pointer;

    &:nth-child(1) {
      margin-right: 2px;
    }
  }
}