.row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  min-height: 52px;
}

.col {
  flex: 1;
}
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section {
  padding: 12px;
}

.section:first-child {
  padding-left: 0;
}

.section:last-child {
  padding-right: 0;
}

.form-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;

  input {
    margin-left: 10px;
  }
}

.mobile-title {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: #1a394d;
  padding-bottom: 40px;
}

.states-holder > div > div:last-child::before {
  content: "";
  display: block;
  z-index: 1;
  height: 38px;
  position: relative;
}

.commoditie-header {
  display: flex;
  padding-left: 20px;
  font-size: small;
  font-weight: 700;

  span {
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 50px;
    }
    &:nth-child(3) {
      width: 120px;
    }
    &:nth-child(4) {
      width: 300px;
    }
    &:nth-child(5) {
      width: 120px;
    }
  }
}
